<form [formGroup]="form" class="p-fluid grid text-center">
  <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
    <label
      appLabel
      for="isFinancing"
      [label]="AgreementFormEnum.isFinancing"
      [required]="isFinancingField"></label>

    <app-input-switch id="isFinancing" formControlName="isFinancing" class="ml-2"
                      [disabled]="isFinancingField.disabled"/>
  </div>
</form>

@if (isFinancingField.value) {
  <p-panel>
    <ng-template pTemplate="header">
      <h4>{{ FinancingsFormEnum.header }}:</h4>

      @if (isFinancingField.value) {
        <p-button
          class="ml-2"
          [icon]="IconButtonActionEnum.ADD"
          [pTooltip]="LabelButtonActionEnum.ADD"
          [severity]="SeverityButtonActionEnum.ADD"
          (click)="showFinancingModal()"/>
      }
    </ng-template>

    <ng-template pTemplate="content">
      <!-- table -->
      @if (isFinancingField.value && formInput.financings.length > 0) {
        <p-table
          styleClass="p-datatable-striped"
          [value]="formInput.financings"
          [columns]="financingsColumns">

          <ng-template pTemplate="header" let-columns>
            <tr>
              @for (col of columns; track col.field) {
                <th [pSortableColumn]="col.field">
                  {{ col.header }}
                </th>
              }
              <th class="text-center">
                {{ TableEnum.ACTIONS }}
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
            <tr>
              <td>
                <p-dropdown
                  id="institutionName"
                  [(ngModel)]="item.institutionName"
                  [options]="combinedInstitutions"
                  (onChange)="formOutput.emit(this.formInput)"
                  placeholder="Selecione"
                  appendTo="body">
                  <ng-template pTemplate="selectedItem" let-selectedItem>
                    <div class="flex align-items-center gap-2">
                      <div>{{ selectedItem }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-item pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <div>{{ item }}</div>
                    </div>
                  </ng-template>

                </p-dropdown>
              </td>
              <td>
                <p-inputNumber
                  [(ngModel)]="item.budget"
                  mode="decimal"
                  [minFractionDigits]="2"
                  [maxFractionDigits]="2"/>
              </td>
              <td>
                <input pInputText [(ngModel)]="item.paymentMethod">
              </td>
              <td>
                <input pInputText [(ngModel)]="item.source">
              </td>
              <td>
                <p-button
                  [icon]="IconButtonActionEnum.DELETE"
                  [severity]="SeverityButtonActionEnum.DELETE"
                  [pTooltip]="LabelButtonActionEnum.DELETE"
                  (click)="deleteFinancing(rowIndex)"/>
              </td>
            </tr>
          </ng-template>
        </p-table>
      }
    </ng-template>
  </p-panel>
}

<p-dialog
  [(visible)]="isVisibleFinancingForm"
  [modal]="true">

  <ng-template pTemplate="header">
    <h3>Agregar
      <app-form-help-field content="Llenar campos conforme señala convenio."/>
    </h3>
  </ng-template>

  <ng-template pTemplate="content">
    <form [formGroup]="financingForm" class="p-fluid grid">

      <!-- institutionName  -->
      <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
        <label
          appLabel
          for="combinedInstitution"
          [label]="FinancingsFormEnum.institutionName"
          [required]="institutionNameField">
        </label>

        <!--        <p-listbox-->
        <!--          id="combinedInstitution"-->
        <!--          [options]="combinedInstitutions"-->
        <!--          formControlName="institutionName"-->
        <!--          [filter]="true"-->
        <!--          [listStyle]="{'max-height': '150px'}"/>-->

        <p-dropdown
          id="combinedInstitution"
          formControlName="institutionName"
          [options]="combinedInstitutions"
          placeholder="Selecione"
          appendTo="body">
          <ng-template pTemplate="selectedItem" let-selectedItem>
            <div class="flex align-items-center gap-2">
              <div>{{ selectedItem }}</div>
            </div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ item }}</div>
            </div>
          </ng-template>

        </p-dropdown>

        <small
          appErrorMessage
          [errors]="institutionNameField.errors"
          [touched]="institutionNameField.touched"
          [dirty]="institutionNameField.dirty">
        </small>
      </div>

      <!-- budget  -->
      <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
        <label
          appLabel
          for="budget"
          [label]="FinancingsFormEnum.budget"
          [required]="budgetField">
        </label>

        <p-inputNumber
          id="budget"
          formControlName="budget"
          mode="decimal"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"/>

        <small
          appErrorMessage
          [errors]="budgetField.errors"
          [touched]="budgetField.touched"
          [dirty]="budgetField.dirty">
        </small>
      </div>

      <!-- paymentMethod  -->
      <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
        <label
          appLabel
          for="paymentMethod"
          [label]="FinancingsFormEnum.paymentMethod"
          [required]="paymentMethodField">
        </label>

        <input
          pInputText
          id="paymentMethod"
          formControlName="paymentMethod"/>

        <small
          appErrorMessage
          [errors]="paymentMethodField.errors"
          [touched]="paymentMethodField.touched"
          [dirty]="paymentMethodField.dirty">
        </small>
      </div>

      <!-- source  -->
      <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
        <label
          appLabel
          for="source"
          [label]="FinancingsFormEnum.source"
          [required]="sourceField">
        </label>

        <input
          pInputText
          id="source"
          formControlName="source"/>

        <small
          appErrorMessage
          [errors]="sourceField.errors"
          [touched]="sourceField.touched"
          [dirty]="sourceField.dirty">
        </small>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      [label]="LabelButtonActionEnum.CANCEL"
      [icon]="IconButtonActionEnum.CANCEL"
      [text]="true"
      [severity]="SeverityButtonActionEnum.CANCEL"
      (click)="isVisibleFinancingForm=false"/>

    <p-button
      [label]="LabelButtonActionEnum.ADD"
      [icon]="IconButtonActionEnum.ADD"
      [severity]="SeverityButtonActionEnum.ADD"
      (click)="addFinancing()"/>
  </ng-template>
</p-dialog>
