<div class="grid">
  <div class="col-12">
    @if (coreService.isLoading) {
      <app-skeleton [type]="SkeletonEnum.CARD"></app-skeleton>
    }

    @if (!coreService.isLoading) {
      <p-toolbar>
        <div class="p-toolbar-group-left">
          <app-header-form [id]="id"></app-header-form>
        </div>
        <div class="p-toolbar-group-right">
          <app-form-button-action
            (submit)="onSubmit()"
            labelSubmitButton="Siguiente"
            labelCancelButton="Atrás"
            [iconSubmitButton]="PrimeIcons.ARROW_RIGHT"
            [isVisibleCancelButton]="false"
          />
        </div>
      </p-toolbar>

      <p-panel>
        <form [formGroup]="form" class="p-fluid grid">
          <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
            <!-- internalInstitutionsForm -->
            <p-panel>
              <div formArrayName="internalInstitutions">
                <div *ngFor="let internalInstitution of internalInstitutions.controls; let i = index"
                     [formGroupName]="i" class="grid">

                  <!-- internalInstitutions/positionId -->
                  <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
                    <label appLabel
                           for="positionId"
                           [label]="InternalInstitutionsFormEnum.positionId">
                    </label>
                    <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>
                    <p-dropdown
                      id="positionId"
                      formControlName="positionId"
                      dataKey="id"
                      [options]="positions"
                      optionValue="id"
                      optionLabel="name"
                      placeholder="Seleccione"
                      [filter]="false"
                    />
                    <small appErrorMessage
                           [errors]="internalInstitution.get('positionId')?.errors!"
                           [touched]="internalInstitution.get('positionId')?.touched!"
                           [dirty]="internalInstitution.get('positionId')?.dirty!">
                    </small>
                  </div>

                  <!-- internalInstitutions/personTypeId -->
                  <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
                    <label appLabel
                           for="personTypeId"
                           [label]="InternalInstitutionsFormEnum.personTypeId">
                    </label>
                    <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>
                    <p-dropdown
                      id="internalPersonTypeId"
                      formControlName="personTypeId"
                      dataKey="id"
                      [options]="internalPersonTypes"
                      optionValue="id"
                      optionLabel="name"
                      placeholder="Seleccione"
                      [filter]="false"
                    />
                    <small appErrorMessage
                           [errors]="internalInstitution.get('personTypeId')?.errors!"
                           [touched]="internalInstitution.get('personTypeId')?.touched!"
                           [dirty]="internalInstitution.get('personTypeId')?.dirty!">
                    </small>
                  </div>

                  <!-- internalInstitutions/name -->
<!--                  <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">-->
<!--                    <label appLabel-->
<!--                           for="name"-->
<!--                           [label]="InternalInstitutionsFormEnum.name">-->
<!--                    </label>-->
<!--                    <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>-->
<!--                    <input pInputText-->
<!--                           type="text"-->
<!--                           id="name"-->
<!--                           formControlName="name"/>-->
<!--                    <small appErrorMessage-->
<!--                           [errors]="internalInstitution.get('name')?.errors!"-->
<!--                           [touched]="internalInstitution.get('name')?.touched!"-->
<!--                           [dirty]="internalInstitution.get('name')?.dirty!">-->
<!--                    </small>-->
<!--                  </div>-->

                  <!-- internalInstitutions/unit -->
<!--                  <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">-->
<!--                    <label appLabel-->
<!--                           for="unit"-->
<!--                           [label]="InternalInstitutionsFormEnum.unit">-->
<!--                    </label>-->
<!--                    <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>-->
<!--                    <input pInputText-->
<!--                           type="text"-->
<!--                           id="unit"-->
<!--                           formControlName="unit"/>-->
<!--                    <small appErrorMessage-->
<!--                           [errors]="internalInstitution.get('unit')?.errors!"-->
<!--                           [touched]="internalInstitution.get('unit')?.touched!"-->
<!--                           [dirty]="internalInstitution.get('unit')?.dirty!">-->
<!--                    </small>-->
<!--                  </div>-->

                  <!-- button delete internalInstitution -->
<!--                  <div class="field col-12" style="display: flex; justify-content: end;">-->
<!--                    <p-button class="custom-button-width"-->
<!--                              label="Eliminar"-->
<!--                              icon="pi pi-trash"-->
<!--                              severity="danger"-->
<!--                              (click)="deleteInternalInstitution(i)"/>-->
<!--                  </div>-->
<!--                  <p-divider type="solid" class="col-12"/>-->
                </div>
              </div>

            </p-panel>
          </div>

          <!-- button add internalInstitution -->
<!--          <div class="field col-12" style="display: flex; justify-content: center;">-->
<!--            <p-button class="custom-button-plus-width"-->
<!--                      label="Añadir"-->
<!--                      icon="pi pi-plus"-->
<!--                      severity="success"-->
<!--                      (click)="addInternalInstitution()"/>-->
<!--          </div>-->

          <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
            <!-- externalInstitutionsForm -->
            <p-panel>
              <div [formGroup]="appearerForm" class="p-fluid grid">
                  <!-- externalInstitutions/position -->
                  <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
                    <label appLabel
                           for="position"
                           [label]="ExternalInstitutionsFormEnum.position"
                           [required]="externalInstitutionPositionField">
                    </label>
                    <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>
                    <input pInputText
                           type="text"
                           id="position"
                           formControlName="position"/>
                    <small
                        appErrorMessage
                        [errors]="externalInstitutionPositionField.errors"
                        [touched]="externalInstitutionPositionField.touched"
                        [dirty]="externalInstitutionPositionField.dirty">
                    </small>
                  </div>

                  <!-- externalInstitutions/personTypeId -->
                  <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
                    <label appLabel
                           for="personTypeId"
                           [label]="ExternalInstitutionsFormEnum.personTypeId"
                           [required]="externalInstitutionPersonTypeIdField">
                    </label>
                    <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>
                    <p-dropdown
                      id="externalPersonTypeId"
                      formControlName="personTypeId"
                      dataKey="id"
                      [options]="externalPersonTypes"
                      optionValue="name"
                      optionLabel="name"
                      placeholder="Seleccione"
                      [filter]="false"
                    />
                    <small
                        appErrorMessage
                        [errors]="externalInstitutionPersonTypeIdField.errors"
                        [touched]="externalInstitutionPersonTypeIdField.touched"
                        [dirty]="externalInstitutionPersonTypeIdField.dirty">
                    </small>
                  </div>

                  <!-- externalInstitutions/name -->
                  <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
                    <label appLabel for="name"
                           [label]="ExternalInstitutionsFormEnum.name"
                           [required]="externalInstitutionNameField">
                    </label>
                    <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>
                    <input pInputText
                           type="text"
                           id="name"
                           formControlName="name"/>
                    <small
                           appErrorMessage
                           [errors]="externalInstitutionNameField.errors"
                           [touched]="externalInstitutionNameField.touched"
                           [dirty]="externalInstitutionNameField.dirty">
                      </small>
                  </div>

                  <!-- externalInstitutions/unit -->
                  <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
                    <label appLabel for="unit"
                    [label]="ExternalInstitutionsFormEnum.unit"
                    [required]="externalInstitutionUnitField">
                  </label>
                  <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>
                  <input pInputText
                  type="text"
                  id="unit"
                  formControlName="unit"/>
                  <small
                    appErrorMessage
                    [errors]="externalInstitutionUnitField.errors"
                    [touched]="externalInstitutionUnitField.touched"
                    [dirty]="externalInstitutionUnitField.dirty">
                  </small>
              </div>
            </div>
            <!-- button add externalInstitution -->
            <div class="field col-12" style="display: flex; justify-content: right">
              <p-button class="custom-button-plus-width"
              label="Añadir"
              icon="pi pi-plus"
              severity="success"
              (click)="addExternalInstitution()"/>
            </div>
            {{externalInstitutions.value|json}}
            
          </p-panel>
            <!-- table -->
            <p-panel class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
              <p-table 
                [value]="externalInstitutions.controls" 
                styleClass="p-datatable-striped" 
                [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width:22%">Cargo de la contraparte</th>
                    <th style="width:22%">Entidad</th>
                    <th style="width:22%">Institución contraparte</th>
                    <th style="width:22%">Unidad a la que pertenece</th>
                    <th style="width:12%">Acciones</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-externalInstitution let-i="rowIndex">
                  <tr>
                    <td>{{externalInstitution.get('position')?.value}}</td>
                    <td>{{externalInstitution.get('personTypeId')?.value}}</td>
                    <td>{{externalInstitution.get('name')?.value}}</td>
                    <td>{{externalInstitution.get('unit')?.value}}</td>
                    <td>
                      <button pButton type="button" icon="pi pi-trash" class="p-button p-button-danger"
                      (click)="deleteExternalInstitution(i)">
                      </button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </p-panel>
            </div>
        </form>
      </p-panel>
    }
  </div>
</div>
