<!-- internalInstitutionsForm -->
<p-panel header="Ministerio de Turismo">
  <div class="grid">
    <form [formGroup]="internalInstitutionForm" class="field col-12 xl:col-4 lg:col-4 md:col-12 sm:col-12">
      <!-- internalInstitutions/personTypeId -->
      <label appLabel
             for="internalPersonType"
             [label]="InternalInstitutionsFormEnum.personType"
             [required]="internalInstitutionPersonTypeField">
      </label>

      <p-dropdown
        id="internalPersonType"
        formControlName="personType"
        dataKey="id"
        [options]="internalPersonTypes"
        placeholder="Seleccione"
        [filter]="false">
        <ng-template pTemplate="selectedItem" let-selectedOption>
          <div class="flex align-items-center gap-2">
            <div>{{ selectedOption.name }}</div>
          </div>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ item.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>

      <small
        appErrorMessage
        [errors]="internalInstitutionPersonTypeField.errors"
        [touched]="internalInstitutionPersonTypeField.touched"
        [dirty]="internalInstitutionPersonTypeField.dirty">
      </small>
    </form>

    <form [formGroup]="internalInstitutionDetailForm" class="field col-12 xl:col-7 lg:col-7 md:col-12 sm:col-12">
      <!-- internalInstitutions/positionId -->
      <label appLabel
             for="internalPosition"
             [label]="InternalInstitutionsFormEnum.position"
             [required]="internalInstitutionDetailPositionField">
      </label>

      <p-dropdown
        id="internalPosition"
        formControlName="position"
        dataKey="id"
        [options]="positions"
        placeholder="Seleccione"
        [filter]="false">
        <ng-template pTemplate="selectedItem" let-selectedOption>
          <div class="flex align-items-center gap-2">
            <div>{{ selectedOption.name }}</div>
          </div>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ item.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <small
        appErrorMessage
        [errors]="internalInstitutionDetailPositionField.errors"
        [touched]="internalInstitutionDetailPositionField.touched"
        [dirty]="internalInstitutionDetailPositionField.dirty">
      </small>
    </form>

    <!-- button add internalInstitution -->
    @if (agreementsService.agreement.internalInstitutions && agreementsService.agreement.internalInstitutions.length < 1) {
      <div class="field col-12 xl:col-1 lg:col-1 md:col-12 sm:col-12 mt-4">
        <p-button
          [icon]="IconButtonActionEnum.ADD"
          [severity]="SeverityButtonActionEnum.ADD"
          [pTooltip]="LabelButtonActionEnum.ADD"
          (click)="addInternalInstitution()"/>
      </div>
    }

    <!-- table internal-->
    @if (agreementsService.agreement.internalInstitutions && agreementsService.agreement.internalInstitutions.length > 0) {
      <p-table
        dataKey="id"
        styleClass="p-datatable-striped"
        [value]="agreementsService.agreement.internalInstitutions"
        [columns]="internalInstitutionsColumns">
        <ng-template pTemplate="header">
          @for (col of internalInstitutionsColumns; track col.field) {
            <th [pSortableColumn]="col.field">
              {{ col.header }}
            </th>
          }
        </ng-template>
        <ng-template pTemplate="body" let-internalInstitution let-rowIndex="rowIndex">
          <tr>
            <td>{{ internalInstitution.personType.name }}</td>
            <td>{{ internalInstitution.name }}</td>
            <td>
              @for (internalInstitutionDetail of internalInstitution.internalInstitutionDetails; track internalInstitutionDetail; let index = $index) {
                <ul>
                  {{ internalInstitutionDetail.position.name }}
                </ul>
              }
            </td>
            <td>
              <div class="button-group">
                <p-button
                  [icon]="PrimeIcons.TRASH"
                  [severity]="SeverityButtonActionEnum.DELETE"
                  (click)="deleteInternalInstitution(internalInstitution)">
                </p-button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    }
  </div>
</p-panel>

<!-- externalInstitutionsForm -->
<p-panel header="Contraparte">
  <form [formGroup]="externalInstitutionForm" class="p-fluid grid">
    <!-- externalInstitutions/personTypeId -->
    <div class="field col-12 xl:col-4 lg:col-4 md:col-4 sm:col-12">
      <label
        appLabel
        for="externalPersonType"
        [label]="ExternalInstitutionsFormEnum.personType"
        [required]="externalInstitutionPersonTypeField">
      </label>

      <p-dropdown
        id="externalPersonType"
        formControlName="personType"
        dataKey="id"
        [options]="externalPersonTypes"
        placeholder="Seleccione"
        [filter]="false">
        <ng-template pTemplate="selectedItem" let-selectedOption>
          <div class="flex align-items-center gap-2">
            <div>{{ selectedOption.name }}</div>
          </div>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ item.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>

      <small
        appErrorMessage
        [errors]="externalInstitutionPersonTypeField.errors"
        [touched]="externalInstitutionPersonTypeField.touched"
        [dirty]="externalInstitutionPersonTypeField.dirty">
      </small>
    </div>

    <!-- externalInstitutions/name -->
    <div class="field col-12 xl:col-7 lg:col-7 md:col-7 sm:col-12">
      <label appLabel for="name"
             [label]="ExternalInstitutionsFormEnum.name"
             [required]="externalInstitutionNameField">
      </label>
      <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>
      <input
        pInputText
        id="name"
        formControlName="name"/>
      <small
        appErrorMessage
        [errors]="externalInstitutionNameField.errors"
        [touched]="externalInstitutionNameField.touched"
        [dirty]="externalInstitutionNameField.dirty">
      </small>
    </div>

    <!-- button add externalInstitution -->
    <div class="field col-12 xl:col-1 lg:col-1 md:col-1 sm:col-12 mt-4">
      <p-button
        [icon]="IconButtonActionEnum.ADD"
        [severity]="SeverityButtonActionEnum.ADD"
        [pTooltip]="LabelButtonActionEnum.ADD"
        (click)="addExternalInstitution()"/>
    </div>
  </form>

  <!-- table external-->
  @if (agreementsService.agreement.externalInstitutions && agreementsService.agreement.externalInstitutions.length > 0) {
    <p-table
      [value]="agreementsService.agreement.externalInstitutions"
      styleClass="p-datatable-striped">
      <ng-template pTemplate="header">
        <th>{{ TableEnum.ACTIONS }}</th>

        @for (col of externalInstitutionsColumns; track col.field) {
          <th [pSortableColumn]="col.field">
            {{ col.header }}
          </th>
        }
      </ng-template>

      <ng-template pTemplate="body" let-externalInstitution let-rowIndex="rowIndex">
        <tr>
          <td>
            <div class="button-group">
              <p-button
                [icon]="IconButtonActionEnum.ADD"
                [severity]="SeverityButtonActionEnum.ADD"
                [pTooltip]="LabelButtonActionEnum.ADD"
                (click)="showExternalInstitutionDetailModal(rowIndex)"/>

              <p-button
                [icon]="IconButtonActionEnum.DELETE"
                [severity]="SeverityButtonActionEnum.DELETE"
                [pTooltip]="LabelButtonActionEnum.DELETE"
                (click)="deleteExternalInstitution(externalInstitution)"/>
            </div>
          </td>
          <td>{{ externalInstitution.personType.name }}</td>
          <td>{{ externalInstitution.name }}</td>
          <td>
            @for (externalInstitutionDetail of externalInstitution.externalInstitutionDetails; track externalInstitutionDetail; let index = $index) {
              <ul>
                <p-button
                  [icon]="IconButtonActionEnum.DELETE"
                  [severity]="SeverityButtonActionEnum.DELETE"
                  [pTooltip]="LabelButtonActionEnum.DELETE"
                  (click)="deleteExternalInstitutionDetail(rowIndex,index)">
                </p-button>
                {{ externalInstitutionDetail.position }} /
                {{ externalInstitutionDetail.unit }}
              </ul>
            }
          </td>
        </tr>
      </ng-template>
    </p-table>
  }
</p-panel>

<p-dialog
  [(visible)]="isVisibleExternalInstitutionDetailForm"
  [modal]="true"
  [style]="{width: '50%'}"
  header="Contraparte">
  <form [formGroup]="externalInstitutionDetailForm" class="p-fluid grid">
    <!-- externalInstitutions/position -->
    <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
      <label appLabel
             for="externalPosition"
             [label]="ExternalInstitutionsFormEnum.position"
             [required]="externalInstitutionDetailPositionField">
      </label>

      <input
        pInputText
        id="externalPosition"
        formControlName="position"/>

      <small
        appErrorMessage
        [errors]="externalInstitutionDetailPositionField.errors"
        [touched]="externalInstitutionDetailPositionField.touched"
        [dirty]="externalInstitutionDetailPositionField.dirty">
      </small>
    </div>

    <!-- externalInstitutions/unit -->
    <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
      <label appLabel for="unit"
             [label]="ExternalInstitutionsFormEnum.unit"
             [required]="externalInstitutionDetailUnitField">
      </label>

      <input
        pInputText
        id="unit"
        formControlName="unit"/>

      <small
        appErrorMessage
        [errors]="externalInstitutionDetailUnitField.errors"
        [touched]="externalInstitutionDetailUnitField.touched"
        [dirty]="externalInstitutionDetailUnitField.dirty">
      </small>
    </div>

    <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
      <p-button
        [label]="LabelButtonActionEnum.ADD"
        [icon]="IconButtonActionEnum.ADD"
        [severity]="SeverityButtonActionEnum.ADD"
        (click)="addExternalInstitutionDetail()"/>
    </div>
  </form>
</p-dialog>
