<div class="grid">
  <div class="col-12">
    @if (coreService.isLoading) {
      <app-skeleton [type]="SkeletonEnum.CARD"></app-skeleton>
    }

    @if (!coreService.isLoading) {
      <p-toolbar>
        <div class="p-toolbar-group-left">
          <app-header-form
            label="Registro"
            [icon]="PrimeIcons.PENCIL"/>
        </div>

        <div class="p-toolbar-group-right">
          <app-form-button-action
            (submit)="onSubmit()"
            (cancel)="prevOutput.emit(true)"
            labelSubmitButton="Siguiente"
            labelCancelButton="Atrás"
            [iconSubmitButton]="PrimeIcons.ARROW_RIGHT"
            [isVisibleCancelButton]="true"
          />
        </div>
      </p-toolbar>
      <div class="p-fluid">
        <p-multiSelect
          [options]="obligationType"
          [(ngModel)]="selectedObligationTypes"
          optionLabel="name"
          placeholder="Select Obligations"
          (ngModelChange)="onObligationTypesChange($event)">
        </p-multiSelect>
        
        <p-multiSelect
          [options]="institutions"
          [(ngModel)]="selectedInstitutions"
          optionLabel="name"
          placeholder="Select Institutions"
          (ngModelChange)="onInstitutionsChange($event)">
        </p-multiSelect>

        <p-table [value]="obligationsField.controls" dataKey="id">
          <ng-template pTemplate="header">
            <tr>
              <th>Entidad</th>
              <th>Tipo de Obligación</th>
              <th>Descripción</th>
              <th>Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-obligation let-rowIndex="rowIndex">
            <tr>
              <td>{{ obligation.get('institutionName').value }}</td>
              <td>{{ obligation.get('obligationType').value }}</td>
              <td>{{ obligation.get('description').value }}</td>
              <td>
                <p-button icon="pi pi-trash" class="p-button-danger" (click)="deleteObligation(rowIndex)"></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
        
        <div class="p-field p-grid">
          <div class="p-col-12 p-md-4">
            <label for="description">Descripción</label>
            <textarea id="description" [(ngModel)]="description" rows="3" pInputTextarea></textarea>
          </div>
          <div class="p-col-12 p-md-2" style="display: flex; align-items: center;">
            <p-button label="Agregar" icon="pi pi-plus" (click)="addObligation()"></p-button>
          </div>
        </div>
      </div>
    }
  </div>
</div>