<div class="grid">
  <div class="col-12">
    @if (coreService.isLoading) {
      <app-skeleton [type]="SkeletonEnum.CARD"></app-skeleton>
    }

    @if (!coreService.isLoading) {
      <p-toolbar>
        <div class="p-toolbar-group-left">
          <app-header-form
            [id]="id"
            label="Registro"
            [icon]="PrimeIcons.PENCIL"/>
        </div>

        <div class="p-toolbar-group-right">
          <app-form-button-action
            (submit)="onSubmit()"
            labelSubmitButton="Siguiente"
            labelCancelButton="Atrás"
            [iconSubmitButton]="PrimeIcons.ARROW_RIGHT"
            [isVisibleCancelButton]="false"
          />
        </div>
      </p-toolbar>

      <p-panel>
        <form [formGroup]="form" class="p-fluid grid">

          <!-- number -->
          <div class="field col-8 xl:col-4">
            <label
              appLabel
              for="number"
              [label]="AgreementFormEnum.number"
              [required]="numberField"></label>

            <app-form-help-field
              [content]="['Esto es un listado 1','Esto es un listado 2','Esto es un listado 3']"></app-form-help-field>

            <input pInputText id="internalNumber" formControlName="number"/>

            <small
              appErrorMessage
              [errors]="numberField.errors"
              [touched]="numberField.touched"
              [dirty]="numberField.dirty">
            </small>
          </div>

          <!-- name -->
          <div class="field col-4 xl:col-8">
            <label
              appLabel
              for="name"
              [label]="AgreementFormEnum.name"
              [required]="nameField"></label>

            <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>

            <input pInputText id="name" formControlName="name"/>

            <small
              appErrorMessage
              [errors]="nameField.errors"
              [touched]="nameField.touched"
              [dirty]="nameField.dirty">
            </small>
          </div>

          <!-- internalNumber -->
          <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
            <label
              appLabel
              for="internalNumber"
              [label]="AgreementFormEnum.internalNumber"
              [required]="internalNumberField"></label>

            <app-form-help-field
              [content]="['Esto es un listado 1','Esto es un listado 2','Esto es un listado 3']"></app-form-help-field>

            <p-inputNumber id="number" [useGrouping]="false" formControlName="internalNumber"/>

            <small
              appErrorMessage
              [errors]="internalNumberField.errors"
              [touched]="internalNumberField.touched"
              [dirty]="internalNumberField.dirty">
            </small>
          </div>

          <!-- state -->
          <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
            <label
              appLabel
              for="agreementState"
              [label]="AgreementFormEnum.agreementState"
              [required]="agreementStateField"></label>

            <app-form-help-field
              [content]="['Ayuda 1','Ayuda 2','Ayuda 3']"></app-form-help-field>

            <p-dropdown
              id="agreementState"
              formControlName="agreementState"
              dataKey="id"
              [options]="states"
              placeholder="Seleccione"
              [filter]="true"
              filterBy="name">
              <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                  <div>{{ selectedOption.name }}</div>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ item.name }}</div>
                </div>
              </ng-template>
            </p-dropdown>

            <small
              appErrorMessage
              [errors]="agreementStateField.errors"
              [touched]="agreementStateField.touched"
              [dirty]="agreementStateField.dirty">
            </small>
          </div>

          <!-- origin -->
          <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
            <label
              appLabel
              for="origin"
              [label]="AgreementFormEnum.origin"
              [required]="originField"></label>

            <app-form-help-field
              [content]="['Ayuda 1','Ayuda 2','Ayuda 3']"></app-form-help-field>

            <p-dropdown
              id="origin"
              formControlName="origin"
              dataKey="id"
              [options]="origins"
              placeholder="Selecione">
              <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                  <div>{{ selectedOption.name }}</div>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ item.name }}</div>
                </div>
              </ng-template>
            </p-dropdown>

            <small
              appErrorMessage
              [errors]="originField.errors"
              [touched]="originField.touched"
              [dirty]="originField.dirty">
            </small>
          </div>

          <!-- type -->
          <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
            <label
              appLabel
              for="type"
              [label]="AgreementFormEnum.type"
              [required]="typeField"></label>

            <app-form-help-field
              [content]="['Ayuda 1','Ayuda 2','Ayuda 3']"></app-form-help-field>

            <p-dropdown
              id="type"
              formControlName="type"
              dataKey="id"
              [options]="types" 
              placeholder="Selecione">
              <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                  <div>{{ selectedOption.name }}</div>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ item.name }}</div>
                </div>
              </ng-template>
            </p-dropdown>

            <small
              appErrorMessage
              [errors]="typeField.errors"
              [touched]="typeField.touched"
              [dirty]="typeField.dirty">
            </small>
          </div>


          <!-- SpecialType -->
          @if (specialTypeField.hasValidator(Validators.required)) {
            <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
              <label
                appLabel
                for="specialType"
                [label]="AgreementFormEnum.specialType"
                [required]="specialTypeField"></label>
  
              <app-form-help-field
                [content]="['Ayuda 1','Ayuda 2','Ayuda 3']"></app-form-help-field>
  
              <p-dropdown
                id="specialType"
                formControlName="specialType"
                dataKey="id"
                [options]="specialTypes"
                placeholder="Selecione">
                <ng-template pTemplate="selectedItem" let-selectedOption>
                  <div class="flex align-items-center gap-2">
                    <div>{{ selectedOption.name }}</div>
                  </div>
                </ng-template>
                <ng-template let-item pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ item.name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
  
              <small
                appErrorMessage
                [errors]="specialTypeField.errors"
                [touched]="specialTypeField.touched"
                [dirty]="specialTypeField.dirty">
              </small>
            </div>
          }

          <!--objective-->
          <div class="field col-12">
            <label
              appLabel
              for="objective"
              [label]="AgreementFormEnum.objective"
              [required]="objectiveField"></label>

            <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>

            <textarea 
              pInputTextarea 
              id="objective" 
              formControlName="objective"
              rows="10"
              cols="30"
            ></textarea>

            <small
              appErrorMessage
              [errors]="objectiveField.errors"
              [touched]="objectiveField.touched"
              [dirty]="objectiveField.dirty">
            </small>
          </div>
        </form>
      </p-panel>
    }
  </div>
</div>