<p-sidebar [(visible)]="enabled" position="right" (onHide)="isHide.emit(true)">
  <ng-template pTemplate="header">
    {{ LabelButtonActionEnum.ACTIONS }}
  </ng-template>
  <ng-template pTemplate="content">
    <p-panelMenu [model]="buttonActions"
                 (click)="enabled=false;
                 isHide.emit(true)"
                 [style]="{'width':'300px'}"></p-panelMenu>
  </ng-template>
  <ng-template pTemplate="footer">
    &copy; Ministerio de Turismo {{ currentYear }}
  </ng-template>
</p-sidebar>
