<p-stepper orientation="horizontal" >
    <p-stepperPanel header="Datos básicos">
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
            <div class="flex flex-column">
              <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                <app-basic-data class="col-12"
                 (formOutput)="save($event);nextCallback.emit()"/>
              </div>
            </div>

        </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Comparecientes">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
            <div class="flex flex-column ">
                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                  <app-appearer class="col-12"
                   (formOutput)="save($event);nextCallback.emit()" (prevOutput)="prevCallback.emit()"/>
                </div>
            </div>
        </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Plazo del convenio">
      <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
          <div class="flex flex-column ">
                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                  <app-agreement-date class="col-12" 
                  (formOutput)="save($event);nextCallback.emit()" (prevOutput)="prevCallback.emit()"/>
                </div>
            </div>
        </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Obligaciones">
      <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
          <div class="flex flex-column ">
                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                <app-obligation class="col-12" 
                (formOutput)="save($event);nextCallback.emit()" (prevOutput)="prevCallback.emit()" [externalInstitutions]="[]"/>
                </div>
            </div>

        </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Financiamiento">
      <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
          <div class="flex flex-column ">
                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                <app-financing class="col-12"
                 (formOutput)="save($event);nextCallback.emit()" (prevOutput)="prevCallback.emit()"/>

                </div>
            </div>

        </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Documentación">
      <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
          <div class="flex flex-column ">
                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                <app-document class="col-12"
                 (formOutput)="save($event)" (prevOutput)="prevCallback.emit()"/>
                </div>
            </div>

        </ng-template>
    </p-stepperPanel>
  </p-stepper>

  {{this.form.value | json}}
