
<div class="grid">
  <div class="col-12">

    @if (coreService.isLoading) {
        <app-skeleton [type]="SkeletonEnum.CARD"></app-skeleton>
      }
  

    @if (!coreService.isLoading) {
        <p-toolbar>

          <div class="p-toolbar-group-left">
            <app-header-form
              [id]="id"
              label="Editar"
              [icon]="PrimeIcons.PENCIL"/>
          </div>

            <div class="p-toolbar-group-right">
              <app-form-button-action
                (submit)="onSubmit()"
                (cancel)="prevOutput.emit(true)" 
                labelSubmitButton="Siguiente"
                labelCancelButton="Atrás"
                [iconSubmitButton]="PrimeIcons.ARROW_RIGHT"
                [isVisibleCancelButton]="true"
              />
            </div>

          </p-toolbar>     

    <p-panel>

      <!-- formulario internalInstitutions -->
     <form  [formGroup]="internalInstitutionForm" class="p-fluid grid">

        <!-- position -->
      <div class="field col-12 xl:col-6 lg:col-12 md:col-12 sm:col-12">

        <label
         appLabel
         for="position"
         [label]="InternalInstitutionsFormEnum.position"
         [label]="InternalInstitutionsFormEnum.position"
         [required]="internalInstitutionPositionField"
        ></label>

        <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>

        <p-dropdown
          id="position"
          formControlName="position"
          dataKey="id"
          [options]="positions"
          placeholder="Seleccione una opcion"
          [filter]="false"
          filterBy="name">

          <ng-template 
          pTemplate="selectedItem"
          let-selectedOption>
            <div class="flex align-items-center gap-2">
              <div>{{ selectedOption.name }}</div>
            </div>
          </ng-template>
          
          <ng-template let-item pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ item.name}}</div>
            </div>
          </ng-template>
         </p-dropdown>

      <small appErrorMessage
      [errors]="internalInstitutionPositionField.errors"
      [touched]="internalInstitutionPositionField.touched"
      [dirty]="internalInstitutionPositionField.dirty">
      </small>
      </div>

       <!-- name -->
      <!-- <div class="field col-12 xl:col-6 lg:col-12 md:col-12 sm:col-12">

        <label 
         appLabel 
         for="name" 
         [label]="InternalInstitutionsFormEnum.name"
         [required]="internalInstitutionNameField"
         ></label>

         <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>

        <input
         pInputText
         id="name"
         formControlName="name">

         <small appErrorMessage
             [errors]="internalInstitutionNameField.errors"
             [touched]="internalInstitutionNameField.touched"
             [dirty]="internalInstitutionNameField.dirty">
          </small>
      </div> -->
      
        <!-- unit -->
      <!-- <div class="field col-12 xl:col-6 lg:col-12 md:col-12 sm:col-12">

        <label
         appLabel 
         for="unit"
         [label]="InternalInstitutionsFormEnum.unit"
         [required]="internalInstitutionUnitField"
         ></label>

         <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>

        <input
         pInputText
         id="unit"
         formControlName="unit"
         >
         <small appErrorMessage
                   [errors]="internalInstitutionUnitField.errors"
                   [touched]="internalInstitutionUnitField.touched"
                   [dirty]="internalInstitutionUnitField.dirty">
            </small>
      </div> -->

       <!-- personType -->
      <div class="field col-12 xl:col-6 lg:col-12 md:col-12 sm:col-12">

        <label
         appLabel 
         for="personType"
         [label]="InternalInstitutionsFormEnum.personType"
        ></label>

        <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>

        <p-dropdown
        id="personType"
        formControlName="personType"
        dataKey="id"
        [options]="internalPersonTypes"
        placeholder="Seleccione una opcion"
        [filter]="false"
        filterBy="name">

        <ng-template 
        pTemplate="selectedItem"
        let-selectedOption>
          <div class="flex align-items-center gap-2">
            <div>{{ selectedOption.name }}</div>
          </div>
        </ng-template>

        <ng-template
        let-item pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ item.name}}</div>
          </div>
        </ng-template>
        </p-dropdown>

        <small appErrorMessage
        [errors]="internalInstitutionPersonTypeField.errors"
        [touched]="internalInstitutionPersonTypeField.touched"
        [dirty]="internalInstitutionPersonTypeField.dirty">
        </small>

      </div>
      <!-- <p-button label="Añadir" [raised]="true"  (click)="addInternalInstitutions()" /> -->
     </form>

     <br>
      <!-- table -->
<!--     
      @if(internalInstitutions.controls.length > 0){ 
       <p-table [value]="internalInstitutions.controls" responsiveLayout="scroll">
      <ng-template pTemplate="header">

        <tr>
          <th>Nombre</th>
          <th>Cargo</th>
          <th>Unidad</th>
          <th>Entidad</th>
          <th>Acción</th>
        </tr>

      </ng-template>

      <ng-template pTemplate="body" let-internalInstitution let-i="rowIndex">
       
        <tr>
          <td>{{ internalInstitution.get('name')?.value }}</td>
          <td>{{ getPositionNameById(internalInstitution.get('personType')?.value) }}</td>
          <td>{{ internalInstitution.get('unit')?.value }}</td>
          <td>{{ getPositionNameById(internalInstitution.get('personType')?.value) }}</td>
          <td>
            <p-button label="Eliminar" icon="pi pi-times" severity="danger" (click)="removeInternalInstitutions(i)" class="mr-2" />
            <p-button label="Editar" icon="pi pi-pencil" severity="success" (click)="editInternalInstitutions(i)" />
          </td>
        </tr>

      </ng-template>
    </p-table>
      } -->

     <br>
     <hr> 
     <br>

      <!-- formulario externalInstitutions -->
      <form [formGroup]="externalInstitutionForm " class="p-fluid grid">
         <!-- name -->
        <div class="field col-12 xl:col-6 lg:col-12 md:col-12 sm:col-12">

          <label
           appLabel
           for="name" 
           [label]="ExternalInstitutionsFormEnum.name" 
           [required]="externalInstitutionNameField"
          ></label>

          <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>

          <input
           pInputText
           id="name" 
           formControlName="name" >

          <small appErrorMessage
          [errors]="externalInstitutionNameField.errors"
          [touched]="externalInstitutionNameField.touched"
          [dirty]="externalInstitutionNameField.dirty">
         </small>
         </div>
        
         <!-- position -->
        <div class="field col-12 xl:col-6 lg:col-12 md:col-12 sm:col-12">

          <label 
           appLabel 
           for="externalPosition" 
           [label]="ExternalInstitutionsFormEnum.position"
           [required]="externalInstitutionPositionField"
           ></label>

           <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>

          <input
           pInputText
           id="externalPosition"
           formControlName="position">  

           <small appErrorMessage
           [errors]="externalInstitutionPositionField.errors"
           [touched]="externalInstitutionPositionField.touched"
           [dirty]="externalInstitutionPositionField.dirty">
           </small>

        </div>

         <!-- unit -->
        <div class="field col-12 xl:col-6 lg:col-12 md:col-12 sm:col-12">
          <label appLabel 
           for="unit"
           [label]="ExternalInstitutionsFormEnum.unit"
           [required]="externalInstitutionUnitField"
           ></label>

           <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>

          <input pInputText
           id="unit"
           formControlName="unit"
           >
           <small appErrorMessage
           [errors]="externalInstitutionUnitField.errors"
           [touched]="externalInstitutionUnitField.touched"
           [dirty]="externalInstitutionUnitField.dirty">
            </small>

        </div>

         <!-- personType-->
        <div class="field col-12 xl:col-6 lg:col-12 md:col-12 sm:col-12">

          <label
           appLabel 
           for="externalPersonType"
           [label]="ExternalInstitutionsFormEnum.personType"
           [required]="externalInstitutionPersonTypeField"
            ></label>

            <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>

            <p-dropdown
            id="externalPersonType"
            formControlName="personType"
            dataKey="id"
            [options]="externalPersonTypes"
            placeholder="Seleccione una opcion"
            [filter]="false"
            filterBy="name">

            <ng-template 
            pTemplate="selectedItem"
            let-selectedOption>
              <div class="flex align-items-center gap-2">
                <div>{{ selectedOption.name }}</div>
              </div>
            </ng-template>

            <ng-template
            let-item pTemplate="item">
              <div class="flex align-items-center gap-2">
                <div>{{ item.name }}</div>
              </div>
            </ng-template>

            </p-dropdown>
    
          <small appErrorMessage
          [errors]="externalInstitutionPersonTypeField.errors"
          [touched]="externalInstitutionPersonTypeField.touched"
          [dirty]="externalInstitutionPersonTypeField.dirty">
          </small>
          </div>

        <p-button label="Añadir" [raised]="true" (click)="addExternalInstitutions()" />

      </form>
      
      <br>

       <!-- table -->
      
        @if(externalInstitutions.controls.length > 0){ 
        <p-table
         [value]="externalInstitutions.controls" 
        styleClass="p-datatable-gridlines" 
        [tableStyle]="{'min-width': '50rem'}">

          <ng-template pTemplate="header">
         
            @for (col of externalInstitutionsColumns; track col.field) {
              <th [pSortableColumn]="col.field">
                {{ col.header }}

              </th>
            }
            
            <th class="text-center">
              Acciones
            </th>
     
          </ng-template>
          
          <ng-template pTemplate="body" let-externalInstitution let-i="rowIndex">
            <tr>
              <td class="text-center">{{externalInstitution.get('name')?.value }}</td>
              <td class="text-center">{{ externalInstitution.get('unit')?.value}}</td>
              <td class="text-center">{{ externalInstitution.get('position')?.value }}</td>
              <td class="text-center">{{externalInstitution.get('personType')?.value.name }}</td>
              <td>
                <p-button icon="pi pi-trash" severity="danger" (click)="removeExternalInstitutions(i)" class="mr-2" />
                <p-button icon="pi pi-pencil" severity="success" (click)="editExternalInstitutions(i)" />
              </td>
            </tr>
          </ng-template>
        </p-table>
        }
      
    </p-panel>
    }
  </div>
</div>