<!-- internalInstitutionsForm -->
<p-panel>
  <ng-template pTemplate="header">
    <h4>Ministerio de Turismo:</h4>

    <p-button
      class="ml-2"
      [icon]="IconButtonActionEnum.ADD"
      [pTooltip]="LabelButtonActionEnum.ADD"
      [severity]="SeverityButtonActionEnum.ADD"
      (click)="showInternalInstitutionModal()"/>
  </ng-template>

  <ng-template pTemplate="content">
    @if (formInput.internalInstitutions.length > 0) {
      <!-- table internal-->
      <p-table
        styleClass="p-datatable-striped"
        [value]="formInput.internalInstitutions"
        [columns]="internalInstitutionsColumns">
        <ng-template pTemplate="header">
          <tr>
            <th style="width:5%">
              {{ TableEnum.ACTIONS }}
            </th>

            @for (col of internalInstitutionsColumns; track col.field) {
              <th [pSortableColumn]="col.field">
                {{ col.header }}
              </th>
            }
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-internalInstitution let-rowIndex="rowIndex">
          <tr>
            <td>
              @for (internalInstitutionDetail of internalInstitution.internalInstitutionDetails; track internalInstitutionDetail; let index = $index) {
                <p-button
                  class="ml-1"
                  [icon]="IconButtonActionEnum.DELETE"
                  [severity]="SeverityButtonActionEnum.DELETE"
                  [pTooltip]="'Eliminar Unidad/Cargo'"
                  (click)="deleteInternalInstitutionDetail(rowIndex,index)">
                </p-button>

                <p-divider/>
              }
            </td>

            <td>
              @for (internalInstitutionDetail of internalInstitution.internalInstitutionDetails; track internalInstitutionDetail; let index = $index) {
                <p-dropdown
                  [id]="internalInstitutionDetail.position"
                  dataKey="id"
                  [(ngModel)]="internalInstitutionDetail.position"
                  (onChange)="formOutput.emit(this.formInput)"
                  [options]="positions"
                  placeholder="Selecione"
                  appendTo="body">
                  <ng-template pTemplate="selectedItem" let-selectedItem>
                    <div class="flex align-items-center gap-2">
                      <div>{{ selectedItem.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-item pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <div>{{ item.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>

                <p-divider/>
              }
            </td>
          </tr>
        </ng-template>
      </p-table>
    }
  </ng-template>
</p-panel>

<!-- externalInstitutionsForm -->
<p-panel>
  <ng-template pTemplate="header">
    <h4>Contraparte:</h4>

    <p-button
      class="ml-2"
      [icon]="IconButtonActionEnum.ADD"
      [pTooltip]="LabelButtonActionEnum.ADD"
      [severity]="SeverityButtonActionEnum.ADD"
      (click)="showExternalInstitutionModal()"/>
  </ng-template>

  <ng-template pTemplate="content">
    @if (formInput.externalInstitutions.length > 0) {
      <!-- table external-->
      <p-table
        [value]="formInput.externalInstitutions"
        [columns]="externalInstitutionsColumns"
        styleClass="p-datatable-striped">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th>{{ TableEnum.ACTIONS }}</th>

            @for (col of columns; track col.field) {
              <th [pSortableColumn]="col.field">
                {{ col.header }}
              </th>
            }

            <th colspan="2">
              {{ TableEnum.ACTIONS }}
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
          <tr>
            <td>
              <p-button
                [icon]="IconButtonActionEnum.DELETE"
                [severity]="SeverityButtonActionEnum.DELETE"
                [pTooltip]="'Eliminar Compareciente'"
                (click)="deleteExternalInstitution(rowIndex)"/>
            </td>
            <td>
              <p-dropdown
                [id]="item.personType.id"
                dataKey="id"
                [(ngModel)]="item.personType"
                (onChange)="formOutput.emit(this.formInput)"
                [options]="externalPersonTypes"
                placeholder="Selecione"
                appendTo="body">
                <ng-template pTemplate="selectedItem" let-selectedItem>
                  <div class="flex align-items-center gap-2">
                    <div>{{ selectedItem.name }}</div>
                  </div>
                </ng-template>
                <ng-template let-item pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ item.name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </td>
            <td>
              {{item.name}}
            </td>
            <td>
              @for (externalInstitutionDetail of item.externalInstitutionDetails; track externalInstitutionDetail; let index = $index) {
                <input pInputText [(ngModel)]="externalInstitutionDetail.position"
                       (keyup)="formOutput.emit(this.formInput)">
              }
            </td>

            <td>
              @for (externalInstitutionDetail of item.externalInstitutionDetails; track externalInstitutionDetail; let index = $index) {
                <input pInputText [(ngModel)]="externalInstitutionDetail.unit"
                       (keyup)="formOutput.emit(this.formInput)">
              }
            </td>

            <td>
              @for (externalInstitutionDetail of item.externalInstitutionDetails; track externalInstitutionDetail; let index = $index) {
                <p-button
                  [icon]="IconButtonActionEnum.REMOVE"
                  [severity]="SeverityButtonActionEnum.DELETE"
                  [text]="true"
                  [pTooltip]="'Eliminar Cargo'"
                  (click)="deleteExternalInstitutionDetail(rowIndex,index)">
                </p-button>

                <br>
              }
            </td>
            <td>
              <p-button
                [text]="true"
                [icon]="PrimeIcons.PLUS_CIRCLE"
                [severity]="SeverityButtonActionEnum.ADD"
                pTooltip="Agregar Unidad/Cargo"
                (click)="showExternalInstitutionDetailModal(rowIndex)"/>
            </td>
          </tr>
        </ng-template>
      </p-table>
    }
  </ng-template>
</p-panel>

<p-dialog
  [(visible)]="isVisibleInternalInstitutionForm"
  [modal]="true"
  [style]="{width: '50rem', height: '50rem'}"
  [maximizable]="true"
  header="Agregar">
  <form [formGroup]="internalInstitutionDetailForm" class="p-fluid grid">
    <!-- internalInstitutions/positionId -->
    <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
      <label
        appLabel
        for="internalPosition"
        [label]="InternalInstitutionsFormEnum.position"
        [required]="internalInstitutionDetailPositionField">
      </label>

      <app-form-help-field content="Registrar conforme se detalla en el convenio"></app-form-help-field>

      <!--      <p-listbox-->
      <!--        id="internalPosition"-->
      <!--        [options]="positions"-->
      <!--        formControlName="position"-->
      <!--        optionLabel="name"-->
      <!--        [filter]="true"-->
      <!--        [listStyle]="{'max-height': '300px'}"/>-->

      <p-dropdown
        id="internalPosition"
        formControlName="position"
        dataKey="id"
        [options]="positions"
        placeholder="Selecione">
        <ng-template pTemplate="selectedItem" let-selectedItem>
          <div class="flex align-items-center gap-2">
            <div>{{ selectedItem.name }}</div>
          </div>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ item.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>

      <small
        appErrorMessage
        [errors]="internalInstitutionDetailPositionField.errors"
        [touched]="internalInstitutionDetailPositionField.touched"
        [dirty]="internalInstitutionDetailPositionField.dirty">
      </small>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button
      [label]="LabelButtonActionEnum.CANCEL"
      [icon]="IconButtonActionEnum.CANCEL"
      [text]="true"
      [severity]="SeverityButtonActionEnum.CANCEL"
      (click)="isVisibleInternalInstitutionForm=false"/>

    <p-button
      [icon]="IconButtonActionEnum.ADD"
      [severity]="SeverityButtonActionEnum.ADD"
      [label]="LabelButtonActionEnum.ADD"
      (click)="addInternalInstitution()"/>
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="isVisibleExternalInstitutionForm"
  [modal]="true"
  [style]="{width: '50rem'}"
  header="Agregar">
  <ng-template pTemplate="content">
    <form [formGroup]="externalInstitutionForm" class="p-fluid grid">
      <!-- name -->
      <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
        <label appLabel for="name"
               [label]="ExternalInstitutionsFormEnum.name"
               [required]="externalInstitutionNameField">
        </label>

        <app-form-help-field content="Registro texto tipo oración."></app-form-help-field>

        <p-dropdown
          id="name"
          formControlName="name"
          dataKey="id"
          optionValue="name"
          [options]="externalNames"
          placeholder="Seleccione">
          <ng-template pTemplate="selectedItem" let-selectedItem>
            <div class="flex align-items-center gap-2">
              <div>{{ selectedItem.name }}</div>
            </div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ item.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>

        <small
          appErrorMessage
          [errors]="externalInstitutionNameField.errors"
          [touched]="externalInstitutionNameField.touched"
          [dirty]="externalInstitutionNameField.dirty">
        </small>
      </div>

      <!-- personType -->
      <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
        <label
          appLabel
          for="externalPersonType"
          [label]="ExternalInstitutionsFormEnum.personType"
          [required]="externalInstitutionPersonTypeField">
        </label>

        <!--        <p-listbox-->
        <!--          id="externalPersonType"-->
        <!--          [options]="externalPersonTypes"-->
        <!--          formControlName="personType"-->
        <!--          optionLabel="name"-->
        <!--          [listStyle]="{'max-height': '150px'}"/>-->

        <p-dropdown
          id="externalPersonType"
          formControlName="personType"
          dataKey="id"
          [options]="externalPersonTypes"
          placeholder="Selecione">
          <ng-template pTemplate="selectedItem" let-selectedItem>
            <div class="flex align-items-center gap-2">
              <div>{{ selectedItem.name }}</div>
            </div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ item.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>

        <small
          appErrorMessage
          [errors]="externalInstitutionPersonTypeField.errors"
          [touched]="externalInstitutionPersonTypeField.touched"
          [dirty]="externalInstitutionPersonTypeField.dirty">
        </small>
      </div>
    </form>

    <form [formGroup]="externalInstitutionDetailForm" class="p-fluid grid">
      <!-- position -->
      <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="externalPosition2"
          [label]="ExternalInstitutionsFormEnum.position"
          [required]="externalInstitutionDetailPositionField">
        </label>

        <input
          pInputText
          id="externalPosition2"
          formControlName="position"/>

        <small
          appErrorMessage
          [errors]="externalInstitutionDetailPositionField.errors"
          [touched]="externalInstitutionDetailPositionField.touched"
          [dirty]="externalInstitutionDetailPositionField.dirty">
        </small>
      </div>

      <!-- unit -->
      <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="unit2"
          [label]="ExternalInstitutionsFormEnum.unit"
          [required]="externalInstitutionDetailUnitField">
        </label>

        <input
          pInputText
          id="unit2"
          formControlName="unit"/>

        <small
          appErrorMessage
          [errors]="externalInstitutionDetailUnitField.errors"
          [touched]="externalInstitutionDetailUnitField.touched"
          [dirty]="externalInstitutionDetailUnitField.dirty">
        </small>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      [label]="LabelButtonActionEnum.CANCEL"
      [icon]="IconButtonActionEnum.CANCEL"
      [text]="true"
      [severity]="SeverityButtonActionEnum.CANCEL"
      (click)="isVisibleExternalInstitutionForm=false"/>

    @if (externalInstitutionDetailIdField.value) {
      <p-button
        [icon]="IconButtonActionEnum.UPDATE"
        [severity]="SeverityButtonActionEnum.UPDATE"
        [label]="LabelButtonActionEnum.UPDATE"
        (click)="updateExternalInstitution()"/>
    } @else {
      <p-button
        [icon]="IconButtonActionEnum.ADD"
        [severity]="SeverityButtonActionEnum.ADD"
        [label]="LabelButtonActionEnum.ADD"
        (click)="addExternalInstitution()"/>
    }

  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="isVisibleExternalInstitutionDetailForm"
  [modal]="true"
  [style]="{width: '50rem'}"
  header="Contraparte">
  <ng-template pTemplate="content">
    <form [formGroup]="externalInstitutionDetailForm" class="p-fluid grid">
      <!-- position -->
      <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
        <label
          appLabel
          for="externalPosition1"
          [label]="ExternalInstitutionsFormEnum.position"
          [required]="externalInstitutionDetailPositionField">
        </label>

        <input
          pInputText
          id="externalPosition1"
          formControlName="position"/>

        <small
          appErrorMessage
          [errors]="externalInstitutionDetailPositionField.errors"
          [touched]="externalInstitutionDetailPositionField.touched"
          [dirty]="externalInstitutionDetailPositionField.dirty">
        </small>
      </div>

      <!-- unit -->
      <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
        <label
          appLabel
          for="unit1"
          [label]="ExternalInstitutionsFormEnum.unit"
          [required]="externalInstitutionDetailUnitField">
        </label>

        <input
          pInputText
          id="unit1"
          formControlName="unit"/>

        <small
          appErrorMessage
          [errors]="externalInstitutionDetailUnitField.errors"
          [touched]="externalInstitutionDetailUnitField.touched"
          [dirty]="externalInstitutionDetailUnitField.dirty">
        </small>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      [label]="LabelButtonActionEnum.CANCEL"
      [icon]="IconButtonActionEnum.CANCEL"
      [text]="true"
      [severity]="SeverityButtonActionEnum.CANCEL"
      (click)="isVisibleExternalInstitutionDetailForm=false"/>

    <p-button
      [label]="LabelButtonActionEnum.ADD"
      [icon]="IconButtonActionEnum.ADD"
      [severity]="SeverityButtonActionEnum.ADD"
      (click)="addExternalInstitutionDetail()"/>
  </ng-template>
</p-dialog>
