<div class="grid">
  <div class="col-12 xl:col-8 lg:col-8 md:col-10 sm:col-12 xl:col-offset-2 lg:col-offset-2 md:col-offset-1">
    <ng-container *ngIf="coreService.isLoading; else content">
      <app-skeleton [type]="SkeletonEnum.CARD"></app-skeleton>
    </ng-container>
    <ng-template #content>
      <p-toolbar>
        <div class="p-toolbar-group-left">
          <app-header-form [id]="id"></app-header-form>
        </div>
        <div class="p-toolbar-group-right">
          <app-form-button-action (submit)="onSubmit()" (cancel)="redirectRegistration()"></app-form-button-action>
        </div>
      </p-toolbar>

      <p-panel>
        <h2>Financiamiento</h2>

        <p-table [value]="financings" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
          <ng-template pTemplate="header">
            <tr>
              <th>Comparecientes del convenio</th>
              <th>Presupuesto y Financiamiento</th>
              <th>Método de Pago</th>
              <th>Fuente de Financiamiento</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-financing> <!----financing es una variable-->
            <tr>
              <td>{{financing.modelId}}</td>
              <td>{{financing.budget}}</td>
              <td>{{financing.paymentMethod}}</td>
              <td>{{financing.source}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-panel>
    </ng-template>
  </div>
</div>