<div class="grid">
  <div class="col-12">
    @if (coreService.isLoading) {
    <app-skeleton [type]="SkeletonEnum.CARD"></app-skeleton>
    }

    @if (!coreService.isLoading) {
    <p-toolbar>
      <div class="p-toolbar-group-left">
        <app-header-form label="Datos del Addendum" [icon]="PrimeIcons.PENCIL" />
      </div>
    </p-toolbar>
    <h2>Adendas</h2>
    <div style="height: 50px;"></div>
    <p-panel>
      <form class="p-fluid grid">
        
        <p-table [value]="addendums">
          <ng-template pTemplate="header">
            @for (col of addendumColumns; track col.field) {
              <th [pSortableColumn]="col.field" style="border-right: 1px solid #ddd;">
                  {{ col.header }}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
              }
          </ng-template>
          <ng-template pTemplate="body" let-addendum>
            <tr>
              <td style="border-right: 1px solid #ddd; padding: '0.5rem'">{{ addendum.isAddendum }}</td>
              <td style="border-right: 1px solid #ddd; padding: '0.5rem'">{{ addendum.description }}</td>
              <td style="border-right: 1px solid #ddd; padding: '0.5rem'">{{ addendum.isModifiedFinishDate }}</td>
              <td style="border-right: 1px solid #ddd; padding: '0.5rem'">{{ addendum.description }}</td>
              <td style="border-right: 1px solid #ddd; padding: '0.5rem'">{{ addendum.agreementEndedAt }}</td>
            </tr>
          </ng-template>
        </p-table>
      </form>
    </p-panel>
    }
  </div>
</div>
