<div class="grid">
  <div class="col-12">
    <p-panel>
      <form [formGroup]="form" class="p-fluid grid ">

        <!-- financingOptionId -->
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="isFinancing"
                 [label]="AgreementFormEnum.isFinancing"
                 [required]="isFinancingField"></label>
          <div class="flex gap-3">
            <div class="flex align-items-center">
              <p-radioButton
                id="yes"
                formControlName="isFinancing"
                name="isFinancing"
                [value]="true"
              />
              <label for="yes" class="ml-2">
                Si
              </label>
            </div>

            <div class="flex align-items-center">
              <p-radioButton
                id="no"
                formControlName="isFinancing"
                name="isFinancing"
                [value]="false"
              />
              <label for="no" class="ml-2">
                No
              </label>
            </div>
          </div>
          <small
            appErrorMessage
            [errors]="isFinancingField.errors"
            [touched]="isFinancingField.touched"
            [dirty]="isFinancingField.dirty">
          </small>
        </div>
      </form>

      <!-- financingsForm -->
      <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
        @if (isFinancingField.value) {
          <div [formGroup]="financingForm" class="p-fluid grid">

            <!-- financingsForm/model  -->
            <div class="field xl:col-6 md:col-6 sm:col-12">
              <label appLabel
                     for="combinedInstitution"
                     [label]="FinancingsFormEnum.model"
                     [required]="institutionNameField">
              </label>
              <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>
              <p-dropdown
                id="combinedInstitution"
                formControlName="institutionName"
                [options]="combinedInstitutions"
                placeholder="Seleccione"
                optionValue="name"
                [filter]="false">
                <ng-template pTemplate="selectedItem" let-selectedItem>
                  <div class="flex align-items-center gap-2">
                    <div>
                      {{ selectedItem.name }}
                    </div>
                  </div>
                </ng-template>

                <ng-template let-item pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>
                      {{ item.name }}
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
              <small
                appErrorMessage
                [errors]="institutionNameField.errors"
                [touched]="institutionNameField.touched"
                [dirty]="institutionNameField.dirty">
              </small>
            </div>

            <!-- financingsForm/budget  -->
            <div class="field xl:col-6 md:col-6 sm:col-12">
              <label appLabel
                     for="budget"
                     [label]="FinancingsFormEnum.budget"
                     [required]="budgetField">
              </label>
              <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>
              <p-inputNumber
                id="budget"
                formControlName="budget"
                mode="decimal"
                [minFractionDigits]="2"
                [maxFractionDigits]="2"
                placeholder="Ingrese el monto"/>
              <small
                appErrorMessage
                [errors]="budgetField.errors"
                [touched]="budgetField.touched"
                [dirty]="budgetField.dirty">
              </small>
            </div>

            <!-- financingsForm/paymentMethod  -->
            <div class="field xl:col-6 md:col-6 sm:col-12">
              <label appLabel
                     for="paymentMethod"
                     [label]="FinancingsFormEnum.paymentMethod"
                     [required]="paymentMethodField">
              </label>
              <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>
              <input pInputText
                     id="paymentMethod"
                     formControlName="paymentMethod"/>
              <small
                appErrorMessage
                [errors]="paymentMethodField.errors"
                [touched]="paymentMethodField.touched"
                [dirty]="paymentMethodField.dirty">
              </small>
            </div>

            <!-- financingsForm/source  -->
            <div class="field xl:col-6 md:col-6 sm:col-12">
              <label appLabel
                     for="source"
                     [label]="FinancingsFormEnum.source"
                     [required]="sourceField">
              </label>
              <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>
              <input pInputText
                     id="source"
                     formControlName="source"/>
              <small
                appErrorMessage
                [errors]="sourceField.errors"
                [touched]="sourceField.touched"
                [dirty]="sourceField.dirty">
              </small>
            </div>
          </div>

          <!-- button add financing -->
          <div class="field col-12" style="display: flex; justify-content: center;">
            <p-button
             label="Añadir"
             [icon]="PrimeIcons.PLUS"
             [severity]="SeverityButtonActionEnum.ADD"
             (click)="addFinancing()"/>
          </div>

          <!-- table -->
          @if (financingsField.length > 0) {
            <p-panel class="field col-12">
              <p-table
                [value]="financingsField.controls"
                styleClass="p-datatable-striped"
                [tableStyle]="{'min-width': '50rem'}">

                <ng-template pTemplate="header">
                  @for (col of financingsColumns; track col.field) {
                    <th [pSortableColumn]="col.field">
                      {{ col.header }}
                    </th>
                  }
                  <th class="text-center">
                    Acciones
                  </th>
                </ng-template>

                <ng-template pTemplate="body" let-financing let-i="rowIndex">
                  <tr>
                    <td>{{ financing.get('institutionName')?.value }}</td>
                    <td>{{ financing.get('budget')?.value }}</td>
                    <td>{{ financing.get('paymentMethod')?.value }}</td>
                    <td>{{ financing.get('source')?.value }}</td>
                    <td>
                      <p-button 
                       [icon]="IconButtonActionEnum.DELETE"
                       [severity]="SeverityButtonActionEnum.DELETE"
                       (click)="deleteFinancing(i)"/>
                  </tr>
                </ng-template>
              </p-table>
            </p-panel>
          }
        }
      </div>
    </p-panel>
  </div>
</div>
