<div class="grid">
  <div class="col-12 xl:col-8 lg:col-8 md:col-10 sm:col-12 xl:col-offset-2 lg:col-offset-2 md:col-offset-1">
    @if (coreService.isLoading) {
        <app-skeleton [type]="SkeletonEnum.CARD"></app-skeleton>
    }
  
      @if (!coreService.isLoading) {
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <app-header-form [id]="id"></app-header-form>
          </div>
          <div class="p-toolbar-group-right">
            <app-form-button-action (submit)="onSubmit()" (cancel)="redirectRegistration()"></app-form-button-action>
          </div>
        </p-toolbar>
      <p-panel >
        <form [formGroup]="form" class="p-fluid grid " (ngSubmit)="onSubmit()">
          <!--financingOptionId -->
          <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
            <label appLabel 
                  for="isFinancing"
                  [label]="AgreementFormEnum.isFinancing"
                  [required]="isFinancingField">
            </label>
            <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>
            <p-dropdown 
              [options]="financingOptions" 
              optionLabel="name" 
              placeholder="Select" 
              id="isFinancing" 
              formControlName="isFinancing"
              (onChange)="onFinancingChange($event)"/>
            <small
              appErrorMessage
              [errors]="isFinancingField.errors"
              [touched]="isFinancingField.touched"
              [dirty]="isFinancingField.dirty">
            </small>
          </div>
  
          <!-- financingsForm -->
          <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
            <div *ngIf="showFinancingFields">
              <p-panel>
                <div formArrayName="financings">
                  <div *ngFor="let financing of financings.controls; let i = index" [formGroupName]="i" class="grid">
                    
                    <!-- financingsForm/modelId  -->
                    <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
                      <label appLabel 
                            for="modelId" 
                            [label]="FinancingsFormEnum.modelId">
                      </label>
                      <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>
                      <p-dropdown
                        id="modelId" 
                        formControlName="modelId"
                        [options]="groupedInstitutions" 
                        optionLabel="label"
                        placeholder="Select an Institution" >
                      </p-dropdown>
                      <small appErrorMessage
                            [errors]="financing.get('modelId')?.errors!" 
                            [touched]="financing.get('modelId')?.touched!"
                            [dirty]="financing.get('modelId')?.dirty!">
                      </small>
                    </div>
  
                    <!-- financingsForm/budget  -->
                    <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
                      <label appLabel 
                            for="budget" 
                            [label]="FinancingsFormEnum.budget">
                      </label>
                      <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>
                      <input pInputText 
                            type="text" 
                            id="budget" 
                            formControlName="budget" />
                      <small appErrorMessage
                            [errors]="financing.get('budget')?.errors!" 
                            [touched]="financing.get('budget')?.touched!"
                            [dirty]="financing.get('budget')?.dirty!">
                      </small>
                    </div>
  
                    <!-- financingsForm/paymentMethod  -->
                    <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
                      <label appLabel 
                            for="paymentMethod" 
                            [label]="FinancingsFormEnum.paymentMethod">
                      </label>
                      <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>
                      <input pInputText 
                            type="text" 
                            id="paymentMethod" 
                            formControlName="paymentMethod" />
                      <small appErrorMessage
                            [errors]="financing.get('paymentMethod')?.errors!" 
                            [touched]="financing.get('paymentMethod')?.touched!"
                            [dirty]="financing.get('paymentMethod')?.dirty!">
                      </small>
                    </div>
  
                    <!-- financingsForm/source  -->
                    <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
                      <label appLabel 
                            for="source" 
                            [label]="FinancingsFormEnum.source">
                      </label>
                      <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>
                      <input pInputText 
                            type="text" 
                            id="source" 
                            formControlName="source" />
                      <small appErrorMessage
                            [errors]="financing.get('source')?.errors!" 
                            [touched]="financing.get('source')?.touched!"
                            [dirty]="financing.get('source')?.dirty!">
                      </small>
                    </div>
  
                    <!-- button delete financing -->
                    <div class="field col-12" style="display: flex; justify-content: end;">
                      <p-button class="custom-button-width" 
                                label="Eliminar" 
                                icon="pi pi-trash" 
                                severity="danger" 
                                (click)="deleteFinancing(i)" />
                    </div>
                    <p-divider type="solid" class="col-12" />
                  </div>
                </div>
              </p-panel>
  
              <!-- button add financing -->
              <div class="field col-12" style="display: flex; justify-content: center;">
                <p-button class="custom-button-plus-width" 
                          label="Añadir" 
                          icon="pi pi-plus" 
                          severity="success" 
                          (click)="addFinancing()" />
              </div>
  
            </div>
          </div>
        </form>
        <p-button label="Siguiente" (click)="save()"></p-button>
  
        <!-- signed agreement -->
        <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="" [label]="DocumentationFormEnum.signedAgreement"></label>
          <p-fileUpload 
                name="demo[]" 
                url="https://www.primefaces.org/cdn/api/upload.php" 
                [multiple]="true" 
                accept="image/*" 
                maxFileSize="1000000">
            <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">
                  {{ file.name }} - {{ file.size }} bytes
                </li>
              </ul>
            </ng-template>
          </p-fileUpload>
        </div>
  
        <!-- agreement adiministrato designation -->
        <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel 
                for="" 
                [label]="DocumentationFormEnum.administratorAgreement">
          </label>
          <p-fileUpload 
                name="demo[]" 
                url="https://www.primefaces.org/cdn/api/upload.php" 
                [multiple]="true" 
                accept="image/*" 
                maxFileSize="1000000" >
            <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">
                  {{ file.name }} - {{ file.size }} bytes
                </li>
              </ul>
            </ng-template>
          </p-fileUpload>
        </div>
  
      </p-panel>
    }
  </div>
</div>
  