@if (coreService.isLoading) {
  <app-skeleton [type]="SkeletonEnum.CARD"></app-skeleton>
}

@if (!coreService.isLoading) {
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <p-button
        [icon]="IconButtonActionEnum.DOWNLOAD"
        [label]="LabelButtonActionEnum.DOWNLOAD"
        [loading]="coreService.isLoading"
        [severity]="SeverityButtonActionEnum.DOWNLOAD"
        (click)="downloadLogsByAgreement()"/>

    </div>
    <div class="p-toolbar-group-right">

    </div>
  </p-toolbar>

  <p-panel>
    <ng-template pTemplate="header">
      <h3>{{ AgreementLogEnum.header }}</h3>
    </ng-template>

    <ng-template pTemplate="content">
      @if (agreement) {
        <p><b>Número Interno Convenio:</b> {{ agreement.internalNumber }}</p>

        <p><b>Nombre del Convenio:</b> {{ agreement.name }}</p>

        @if (agreement.administrator) {
          <p>
            <b>Unidad Administradora:</b>
            {{ agreement.administrator.unit.name }}
          </p>
          <p>
            <b>Cargo Unidad Administradora:</b>
            {{ agreement.administrator.position.name }}
          </p>
        }
      }
      <p-table
        [value]="items"
        sortField="property"
        sortMode="single"
        dataKey="property"
        rowGroupMode="rowspan"
        groupRowsBy="property"
        [tableStyle]="{'min-width': '70rem'}">
        <ng-template pTemplate="header">
          <tr>
            <th>Campo</th>
            <th>Descripción</th>
            <th>Texto Original</th>
            <th>Texto Actualizado</th>
            <th>Usuario Responsable</th>
            <th>Fecha y Hora</th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-customer
          let-rowIndex="rowIndex"
          let-rowgroup="rowgroup"
          let-rowspan="rowspan">
          <tr>
            <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
              <span class="font-bold ml-2">{{ customer.property }}</span>
            </td>
            <td>
              {{ customer.description }}
            </td>
            <td>
              <span class="ml-1 vertical-align-middle">{{ customer.oldValue }}</span>
            </td>
            <td>
              {{ customer.newValue }}
            </td>
            <td>
              {{ customer.agreementLog.user.name }} {{ customer.agreementLog.user.lastname }}
            </td>
            <td>
              {{ customer.agreementLog.registeredAt | date:'dd/MM/yyyy HH:mm:ss' }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>
  </p-panel>
}
