@if (!closingNotification) {
  <p-panel header="TIPO DE TERMINACIÓN DEL CONVENIO">
    <h3>Notificar fecha de Acta de Terminación y Cierre del Convenio</h3>

    <form [formGroup]="form" class="p-fluid grid">
      <!-- closeType -->
      <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="closeType"
          [label]="ClosingNotificationEnum.closeType"
          [required]="closeTypeField"></label>

        <p-dropdown
          id="closeType"
          formControlName="closeType"
          dataKey="id"
          [options]="closeTypes"
          placeholder="Selecione">
          <ng-template pTemplate="selectedItem" let-selectedItem>
            <div class="flex align-items-center gap-2">
              <div>{{ selectedItem.name }}</div>
            </div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ item.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>

        <small
          appErrorMessage
          [errors]="closeTypeField.errors"
          [touched]="closeTypeField.touched"
          [dirty]="closeTypeField.dirty">
        </small>
      </div>

      <!-- closedAt -->
      <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="closedAt"
          [label]="ClosingNotificationEnum.closedAt"
          [required]="closedAtField"></label>

        @if (idField.value) {
          <input pInputText formControlName="closedAt">
        } @else {
          <p-calendar
            id="closedAt"
            formControlName="closedAt"
            [iconDisplay]="'input'"
            [showIcon]="true"
            dateFormat="dd/mm/yy"/>
        }

        <small
          appErrorMessage
          [errors]="closedAtField.errors"
          [touched]="closedAtField.touched"
          [dirty]="closedAtField.dirty">
        </small>

        <p>
          <em>
            Nota: Registre la fecha que consta en el documento suscrito entre las partes
          </em>
        </p>
      </div>

      <!-- closeDetail -->
      <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
        <label
          appLabel
          for="closeDetail"
          [label]="ClosingNotificationEnum.closeDetail"
          [required]="closeDetailField"></label>

        <textarea pInputTextarea id="closeDetail" formControlName="closeDetail"></textarea>

        <small
          appErrorMessage
          [errors]="closeDetailField.errors"
          [touched]="closeDetailField.touched"
          [dirty]="closeDetailField.dirty">
        </small>
      </div>
    </form>

    <p-divider/>

    @if (!idField.value) {
      <p-toolbar>
        <div class="p-toolbar-group-left">
          <app-header-form
            label="Registro"
            [icon]="PrimeIcons.PENCIL"/>
        </div>

        <div class="p-toolbar-group-right">
          <app-form-button-action
            labelSubmitButton="Notificar"
            (submit)="onSubmit()"
            [iconSubmitButton]="PrimeIcons.SEND"
            [isVisibleCancelButton]="false"
          />
        </div>
      </p-toolbar>
    }

  </p-panel>
}

@if (closingNotification) {
  <p-panel header="TIPO DE TERMINACIÓN DEL CONVENIO">
    <form [formGroup]="form" class="p-fluid grid">
      <!-- closeType -->
      <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="closeType2"
          [label]="ClosingNotificationEnum.closeType"
          [required]="closeTypeField"></label>

        <p-dropdown
          id="closeType2"
          formControlName="closeType"
          dataKey="id"
          [options]="closeTypes"
          placeholder="Selecione">
          <ng-template pTemplate="selectedItem" let-selectedItem>
            <div class="flex align-items-center gap-2">
              <div>{{ selectedItem.name }}</div>
            </div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ item.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>

      <!-- closedAt -->
      <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="closedAt2"
          [label]="ClosingNotificationEnum.closedAt"
          [required]="closedAtField"></label>

        <input pInputText id="closedAt2" formControlName="closedAt">
      </div>

      <!-- closeDetail -->
      <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
        <label
          appLabel
          for="closeDetail2"
          [label]="ClosingNotificationEnum.closeDetail"
          [required]="closeDetailField"></label>

        <input pInputText id="closeDetail2" formControlName="closeDetail">
      </div>
    </form>
  </p-panel>
}
