<form [formGroup]="form" class="p-fluid grid">
  <!-- subscriptionAt -->
  <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
    <label
      appLabel
      for="subscribedAt"
      [label]="AgreementFormEnum.subscribedAt"
      [required]="subscribedAtField"></label>

    <p-calendar
      id="subscribedAt"
      formControlName="subscribedAt"
      [iconDisplay]="'input'"
      [showIcon]="true"
      dateFormat="dd/mm/yy"/>

    <small
      appErrorMessage
      [errors]="subscribedAtField.errors"
      [touched]="subscribedAtField.touched"
      [dirty]="subscribedAtField.dirty">
    </small>
  </div>

  <!-- startedAt -->
  <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
    <label
      appLabel
      for="startedAt"
      [label]="AgreementFormEnum.startedAt"
      [required]="startedAtField"></label>

    <p-calendar
      id="startedAt"
      formControlName="startedAt"
      [iconDisplay]="'input'"
      [showIcon]="true"
      [minDate]="subscribedAtField.value"
      dateFormat="dd/mm/yy"/>

    <small
      appErrorMessage
      [errors]="startedAtField.errors"
      [touched]="startedAtField.touched"
      [dirty]="startedAtField.dirty">
    </small>
  </div>

  <!-- isFinishDate -->
  <div class="field xl:col-12 lg:col-12 md:col-12 sm:col-12">
    <label
      appLabel
      for="isFinishDate"
      [label]="AgreementFormEnum.isFinishDate"
      [required]="isFinishDateField"></label>

    <p-inputSwitch id="isFinishDate" formControlName="isFinishDate" class="ml-2"/>

    <small
      appErrorMessage
      [errors]="isFinishDateField.errors"
      [touched]="isFinishDateField.touched"
      [dirty]="isFinishDateField.dirty">
    </small>
  </div>

  <!-- endedAt -->
  @if (isFinishDateField.value) {
    <div class="field col-12">
      <label>Plazo total del convenio:</label>
    </div>

    <!-- endedAt -->
    <div class="field col-12 xl:col-3 lg:col-3 md:col-3 sm:col-12">
      <label appLabel for="endedAt"
             [label]="AgreementFormEnum.endedAt"
             [required]="endedAtField"></label>
      <app-form-help-field content="Esto es un mensaje de prueba"></app-form-help-field>
      <p-calendar
        id="endedAt"
        formControlName="endedAt"
        [iconDisplay]="'input'"
        [showIcon]="true"
        [minDate]="startedAtField.value"
        dateFormat="dd/mm/yy"
      />
      <small
        appErrorMessage
        [errors]="endedAtField.errors"
        [touched]="endedAtField.touched"
        [dirty]="endedAtField.dirty">
      </small>
    </div>

    <!-- yearTerm -->
    <div class="field col-12 xl:col-3 lg:col-3 md:col-3 sm:col-12">
      <label
        appLabel
        for="yearTerm"
        [label]="AgreementFormEnum.yearTerm"
        [required]="yearTermField"></label>

      <p-inputNumber
        id="yearTerm"
        formControlName="yearTerm"
        [showButtons]="true"
        [min]="0"
        [useGrouping]="false"/>

      <small
        appErrorMessage
        [errors]="yearTermField.errors"
        [touched]="yearTermField.touched"
        [dirty]="yearTermField.dirty">
      </small>
    </div>

    <!-- monthTerm -->
    <div class="field col-12 xl:col-3 lg:col-3 md:col-3 sm:col-12">
      <label
        appLabel
        for="monthTerm"
        [label]="AgreementFormEnum.monthTerm"
        [required]="monthTermField"></label>

      <p-inputNumber
        id="monthTerm"
        formControlName="monthTerm"
        [showButtons]="true"
        [min]="0"
      />

      <small
        appErrorMessage
        [errors]="monthTermField.errors"
        [touched]="monthTermField.touched"
        [dirty]="monthTermField.dirty">
      </small>
    </div>

    <!-- dayTerm -->
    <div class="field col-12 xl:col-3 lg:col-3 md:col-3 sm:col-12">
      <label
        appLabel
        for="dayTerm"
        [label]="AgreementFormEnum.dayTerm"
        [required]="dayTermField"></label>

      <p-inputNumber
        id="dayTerm"
        formControlName="dayTerm"
        [showButtons]="true"
        [min]="0"/>

      <small
        appErrorMessage
        [errors]="dayTermField.errors"
        [touched]="dayTermField.touched"
        [dirty]="dayTermField.dirty">
      </small>
    </div>
  }

  <!-- endedReason -->
  @if (isFinishDateField.value === false) {
    <div class="field col-12">
      <label
        appLabel
        for="endedReason"
        [label]="AgreementFormEnum.endedReason"
        [required]="endedReasonField"></label>

      <textarea
        pInputTextarea
        id="endedReason"
        formControlName="endedReason"
        rows="5"
        cols="30"
        style="resize: none;">
      </textarea>

      <small
        appErrorMessage
        [errors]="endedReasonField.errors"
        [touched]="endedReasonField.touched"
        [dirty]="endedReasonField.dirty">
      </small>
    </div>
  }
</form>
