<form [formGroup]="form" class="p-fluid grid text-center">
  <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
    <label
      appLabel
      [label]="AgreementFormEnum.isAddendum"
      [required]="isAddendumField"></label>

    <p-inputSwitch formControlName="isAddendum" class="ml-2"/>

    @if (formInput.addendums.length > 0) {
      <p>
        <p-tag value="Debe eliminar todas las adendas antes de poder cambiar de opción"
               [severity]="SeverityButtonActionEnum.DELETE"
               class="ml-2"></p-tag>
      </p>
    }
  </div>
</form>


<p-panel>
  <ng-template pTemplate="header">
    <h4>{{AddendumEnum.header}}:</h4>

    @if (isAddendumField.value) {
      <p-button
        class="ml-2"
        [icon]="IconButtonActionEnum.ADD"
        [pTooltip]="LabelButtonActionEnum.ADD"
        [severity]="SeverityButtonActionEnum.ADD"
        (click)="showAddendumModal()"/>
    }
  </ng-template>

  <ng-template pTemplate="content">

    @if (formInput.addendums.length > 0) {
      <p-table
        styleClass="p-datatable-striped"
        [value]="formInput.addendums"
        [columns]="columns">
        <ng-template pTemplate="header" let-columns>
          <tr>
            @for (col of columns; track col.field) {
              <th [pSortableColumn]="col.field">
                {{ col.header }}
              </th>
            }

            <th>{{ TableEnum.ACTIONS }}</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
          <tr>
            <td>{{ item.description }}</td>
            <td>{{ item.file.name }}</td>
            <td>{{ item.isModifiedFinishDate | yesNo }}</td>
            <td>{{ item.agreementEndedAt  | date }}</td>
            <td>
              <p-button
                [icon]="IconButtonActionEnum.DELETE"
                [pTooltip]="LabelButtonActionEnum.DELETE"
                [severity]="SeverityButtonActionEnum.DELETE"
                (click)="deleteAddendum(rowIndex)"/>
            </td>
          </tr>
        </ng-template>
      </p-table>
    }
  </ng-template>
</p-panel>

<p-dialog
  [(visible)]="isVisibleAddendumForm"
  [modal]="true"
  [style]="{width: '50rem'}"
  header="Agregar">
  <ng-template pTemplate="content">
    <div [formGroup]="addendumForm" class="p-fluid grid">
      <div class="field col-12 xl:col-12 lg:col-12 md:col-6 sm:col-12">
        <label
          appLabel
          for="description"
          [label]="AddendumEnum.description"
          [required]="descriptionField"></label>

        <input pInputText type="text" id="description" formControlName="description"/>

        <small
          appErrorMessage
          [errors]="descriptionField.errors"
          [touched]="descriptionField.touched"
          [dirty]="descriptionField.dirty">
        </small>
      </div>

      <div class="field col-12 xl:col-12 lg:col-12 md:col-6 sm:col-12">
        <label
          appLabel
          for="file"
          [label]="AddendumEnum.file"
          [required]="fileField"></label>

        <p-fileUpload
          #uploadFiles
          id="file"
          mode="basic"
          chooseLabel="Choose"
          [chooseIcon]="PrimeIcons.UPLOAD"
          name="files[]"
          accept=".pdf"
          maxFileSize="1000000"
          [auto]="true"
          [customUpload]="true"
          (uploadHandler)="addAddendumFile($event,uploadFiles)"/>

        {{ fileField.value?.name }}
        <small
          appErrorMessage
          [errors]="fileField.errors"
          [touched]="fileField.touched"
          [dirty]="fileField.dirty">
        </small>
      </div>

      <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
        <label
          appLabel
          [label]="AddendumEnum.isModifiedFinishDate"
          [required]="isModifiedFinishDateField"></label>

        <p-inputSwitch formControlName="isModifiedFinishDate" class="ml-2"/>

        <small
          appErrorMessage
          [errors]="isModifiedFinishDateField.errors"
          [touched]="isModifiedFinishDateField.touched"
          [dirty]="isModifiedFinishDateField.dirty">
        </small>
      </div>

      <!-- isModifiedFinishDate -->
      @if (isModifiedFinishDateField.value) {
        <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
          <label
            appLabel for="agreementEndedAt"
            [label]="AddendumEnum.agreementEndedAt"
            [required]="agreementEndedAtField"></label>

          <p-calendar
            formControlName="agreementEndedAt"
            [iconDisplay]="'input'"
            [showIcon]="true"
            id="agreementEndedAt"
            dateFormat="yy-mm-dd"/>

          <small
            appErrorMessage
            [errors]="agreementEndedAtField.errors"
            [touched]="agreementEndedAtField.touched"
            [dirty]="agreementEndedAtField.dirty">
          </small>
        </div>
      }
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      [label]="LabelButtonActionEnum.CANCEL"
      [icon]="IconButtonActionEnum.CANCEL"
      [text]="true"
      [severity]="SeverityButtonActionEnum.CANCEL"
      (click)="isVisibleAddendumForm=false"/>

    <p-button
      [icon]="IconButtonActionEnum.ADD"
      [label]="LabelButtonActionEnum.ADD"
      [severity]="SeverityButtonActionEnum.ADD"
      (click)="onUpload()"></p-button>
  </ng-template>
</p-dialog>
