<h3>La sección que se muestra a continuación no es de carácter obligatorio,
  sin embargo, si se ha realizado una adenda o modificatorio al convenio,
  por favor complete los siguientes campos:
</h3>

<form [formGroup]="form" class="p-fluid grid text-center">
  <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
    <label
      appLabel
      [label]="AgreementFormEnum.isAddendum"
      [required]="isAddendumField"></label>

    <p-inputSwitch formControlName="isAddendum" class="ml-2"/>

    @if (formInput.addendums.length > 0) {
      <p>
        <p-tag value="Debe eliminar todas las adendas antes de poder cambiar de opción"
               [severity]="SeverityButtonActionEnum.DELETE"
               class="ml-2"></p-tag>
      </p>
    }
  </div>
</form>

@if (formInput.isAddendum) {
  <p-panel>
    <ng-template pTemplate="header">
      <h4>{{ AddendumEnum.header }}:</h4>

      @if (isAddendumField.value) {
        <p-button
          class="ml-2"
          [icon]="IconButtonActionEnum.ADD"
          [pTooltip]="LabelButtonActionEnum.ADD"
          [severity]="SeverityButtonActionEnum.ADD"
          (click)="showAddendumModal()"/>
      }
    </ng-template>

    <ng-template pTemplate="content">
      @if (formInput.addendums.length > 0) {
        <p-table
          styleClass="p-datatable-striped"
          [value]="formInput.addendums"
          [columns]="columns">
          <ng-template pTemplate="header" let-columns>
            <tr>
              @for (col of columns; track col.field) {
                <th [pSortableColumn]="col.field">
                  {{ col.header }}
                </th>
              }

              <th>{{ TableEnum.ACTIONS }}</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
            <tr>
              <td>{{ item.description }}</td>
              <td>
                @for(file of item.files;track file){
                  {{file.name}}
                }
              </td>
              <td>
                <p-button
                  [icon]="IconButtonActionEnum.DELETE"
                  [pTooltip]="LabelButtonActionEnum.DELETE"
                  [severity]="SeverityButtonActionEnum.DELETE"
                  (click)="deleteAddendum(item.id)"/>
              </td>
            </tr>
          </ng-template>
        </p-table>
      }
    </ng-template>
  </p-panel>
}

<p-dialog
  [(visible)]="isVisibleAddendumForm"
  [modal]="true"
  [style]="{width: '50rem'}"
  header="Agregar">
  <ng-template pTemplate="content">
    <div [formGroup]="addendumForm" class="p-fluid grid">
      <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
        <label
          appLabel
          for="description"
          [label]="AddendumEnum.description"
          [required]="descriptionField"></label>

        <input pInputText type="text" id="description" formControlName="description"/>

        <small
          appErrorMessage
          [errors]="descriptionField.errors"
          [touched]="descriptionField.touched"
          [dirty]="descriptionField.dirty">
        </small>
      </div>

      <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="file"
          [label]="AddendumEnum.file"
          [required]="fileField"></label>

        <p-fileUpload
          #uploadFiles
          id="file"
          mode="basic"
          chooseLabel="Cargar"
          [chooseIcon]="PrimeIcons.UPLOAD"
          name="files[]"
          accept=".pdf"
          maxFileSize="1000000"
          [auto]="true"
          [customUpload]="true"
          (uploadHandler)="uploadAddendumFile($event,uploadFiles)"/>
        <small
          appErrorMessage
          [errors]="fileField.errors"
          [touched]="fileField.touched"
          [dirty]="fileField.dirty">
        </small>
      </div>

      @if (fileField.value) {
        <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <p-messages severity="info">
            <ng-template pTemplate>
              <i [class]="PrimeIcons.FILE_PDF"></i>
              <div class="ml-2">{{ fileField.value?.name }}</div>
            </ng-template>
          </p-messages>
        </div>
      }
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      [label]="LabelButtonActionEnum.CANCEL"
      [icon]="IconButtonActionEnum.CANCEL"
      [text]="true"
      [severity]="SeverityButtonActionEnum.CANCEL"
      (click)="isVisibleAddendumForm=false"/>

    <p-button
      [icon]="IconButtonActionEnum.ADD"
      [label]="LabelButtonActionEnum.ADD"
      [severity]="SeverityButtonActionEnum.ADD"
      (click)="onUpload()"></p-button>
  </ng-template>
</p-dialog>
