<div class="grid">
  <div class="col-12">
    <p-panel>
      <div class="p-fluid grid">
        <!-- subscriptionAt -->
        <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel [label]="AgreementFormEnum.subscribedAt"></label>
          <input pInputText [value]="agreement?.subscribedAt | date" [readOnly]="true"/>
        </div>

        <!-- startedAt -->
        <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel [label]="AgreementFormEnum.startedAt"></label>
          <input pInputText [value]="agreement?.startedAt | date" [readOnly]="true"/>
        </div>

        <!-- hasTerminationDate -->
        <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel [label]="AgreementFormEnum.isFinishDate"></label>
          <div>
            <input
              type="radio"
              name="isFinishDate"
              [value]="true"
              (change)="onFinishDateChange(true)"
              [checked]="isFinishDate === true"
            />
            <label>Sí</label>
            <input
              type="radio"
              name="isFinishDate"
              [value]="false"
              (change)="onFinishDateChange(false)"
              [checked]="isFinishDate === false"
            />
            <label>No</label>
          </div>
        </div>

        <!-- endedAt -->
        <div class="field col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12" *ngIf="isFinishDate">
          <label appLabel [label]="AgreementFormEnum.endedAt"></label>
          <input pInputText [value]="agreement?.endedAt | date" [readOnly]="true"/>
        </div>

        <!-- endedReason -->
        <div class="field col-12" *ngIf="!isFinishDate">
          <label appLabel [label]="AgreementFormEnum.endedReason"></label>
          <input pInputText [value]="agreement?.endedReason" [readOnly]="true"/>
        </div>

        <!-- Plazo total del convenio -->
        <div class="field col-12" *ngIf="isFinishDate">
          <label>Plazo total del convenio:</label>
        </div>

        <!-- yearTerm -->
        <div class="field col-12 xl:col-4 lg:col-4 md:col-4 sm:col-12" *ngIf="isFinishDate">
          <label appLabel [label]="AgreementFormEnum.yearTerm"></label>
          <input pInputText [value]="agreement?.yearTerm" [readOnly]="true"/>
        </div>

        <!-- monthTerm -->
        <div class="field col-12 xl:col-4 lg:col-4 md:col-4 sm:col-12" *ngIf="isFinishDate">
          <label appLabel [label]="AgreementFormEnum.monthTerm"></label>
          <input pInputText [value]="agreement?.monthTerm" [readOnly]="true"/>
        </div>

        <!-- dayTerm -->
        <div class="field col-12 xl:col-4 lg:col-4 md:col-4 sm:col-12" *ngIf="isFinishDate">
          <label appLabel [label]="AgreementFormEnum.dayTerm"></label>
          <input pInputText [value]="agreement?.dayTerm" [readOnly]="true"/>
        </div>
      </div>
    </p-panel>
  </div>
</div>
