@if (form.value) {
  <p-stepper orientation="horizontal" [linear]="true" [activeStep]="activeStep">
    <p-stepperPanel header="Convenio">
      <ng-template pTemplate="content" let-nextCallback="nextCallback">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <app-header-form
              label="Registro"
              [icon]="PrimeIcons.PENCIL"/>
          </div>

          <div class="p-toolbar-group-right">
            <app-form-button-action
              labelSubmitButton="Siguiente"
              (submit)="validateFormAgreement(nextCallback)"
              (cancel)="redirectAgreementList()"
              [iconSubmitButton]="PrimeIcons.ARROW_RIGHT"
              [isVisibleCancelButton]="true"
            />
          </div>
        </p-toolbar>

        <p-divider/>

        <div class="p-fluid grid">
          <p-panel header="Datos Básicos" class="col-12">
            <app-basic-data
              [formInput]="form.value"
              (formErrorsOutput)="basicDataErrors=$event"
              (formOutput)="save($event)"/>
          </p-panel>

          <p-panel header="Fechas del Convenio" class="col-12">
            <app-agreement-date
              [formInput]="form.value"
              (formErrorsOutput)="agreementDateErrors=$event"
              (formOutput)="save($event)"/>
          </p-panel>

          <p-panel class="col-12">
            <ng-template pTemplate="header">
              <h3>Administrador del Convenio</h3>
              <app-form-help-field content="Registrar conforme señala convenio o designación"></app-form-help-field>
            </ng-template>

            <ng-template pTemplate="content">
              <app-agreement-administrator
                class="col-12"
                [formInput]="form.value"
                (formErrorsOutput)="agreementAdministratorErrors=$event"
                (formOutput)="save($event)"/>
            </ng-template>
          </p-panel>

          <p-panel header="Comparecientes" class="col-12">
            <app-appearer
              [formInput]="form.value"
              (formErrorsOutput)="appearerErrors=$event"
              (formOutput)="save($event)"/>
          </p-panel>
        </div>

        <p-toolbar>
          <div class="p-toolbar-group-left">
            <app-header-form
              label="Registro"
              [icon]="PrimeIcons.PENCIL"/>
          </div>

          <div class="p-toolbar-group-right">
            <app-form-button-action
              labelSubmitButton="Siguiente"
              (submit)="validateFormAgreement(nextCallback)"
              [iconSubmitButton]="PrimeIcons.ARROW_RIGHT"
              [isVisibleCancelButton]="false"
            />
          </div>
        </p-toolbar>
      </ng-template>
    </p-stepperPanel>

    <p-stepperPanel header="Obligaciones">
      <ng-template
        pTemplate="content"
        let-prevCallback="prevCallback"
        let-nextCallback="nextCallback">

        <p-toolbar>
          <div class="p-toolbar-group-left">
            <app-header-form
              label="Registro"
              [icon]="PrimeIcons.PENCIL"/>
          </div>

          <div class="p-toolbar-group-right">
            <app-form-button-action
              (submit)="validateFormObligation(nextCallback)"
              (cancel)="prevCallback.emit()"
              labelSubmitButton="Siguiente"
              labelCancelButton="Regresar"
              [iconSubmitButton]="PrimeIcons.ARROW_RIGHT"
              [isVisibleCancelButton]="true"
            />
          </div>
        </p-toolbar>

        <p-divider/>

        <app-obligation
          [formInput]="form.value"
          (formErrorsOutput)="obligationErrors=$event"
          (formOutput)="save($event)"/>
      </ng-template>
    </p-stepperPanel>

    <p-stepperPanel header="Financiamiento">
      <ng-template
        pTemplate="content"
        let-prevCallback="prevCallback"
        let-nextCallback="nextCallback">

        <p-toolbar>
          <div class="p-toolbar-group-left">
            <app-header-form
              label="Registro"
              [icon]="PrimeIcons.PENCIL"/>
          </div>

          <div class="p-toolbar-group-right">
            <app-form-button-action
              (submit)="onSubmitAgreement(nextCallback)"
              (cancel)="prevCallback.emit()"
              labelSubmitButton="Guardar Convenio"
              labelCancelButton="Regresar"
              [isVisibleCancelButton]="true"
            />
          </div>
        </p-toolbar>

        <p-divider/>

        <app-financing
          [formInput]="form.value"
          (formOutput)="save($event)"
          (formErrorsOutput)="financingErrors=$event"/>
      </ng-template>
    </p-stepperPanel>

    <p-stepperPanel header="Documentación">
      <ng-template
        pTemplate="content"
        let-nextCallback="nextCallback">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <app-header-form
              label="Registro"
              [icon]="PrimeIcons.PENCIL"/>
          </div>

          <div class="p-toolbar-group-right">
            <app-form-button-action
              (submit)="onSubmitDocuments(nextCallback)"
              labelSubmitButton="Siguiente"
              [iconSubmitButton]="PrimeIcons.ARROW_RIGHT"
              [isVisibleCancelButton]="false"
            />
          </div>
        </p-toolbar>

        <p-divider/>

        <app-document
          [formInput]="form.value"
          (formOutput)="save($event)"
          (formErrorsOutput)="documentErrors=$event"/>
      </ng-template>
    </p-stepperPanel>

    <p-stepperPanel header="Registro de adendas o modificatorios">
      <ng-template pTemplate="content">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <app-header-form
              label="Registro"
              [icon]="PrimeIcons.PENCIL"/>
          </div>

          <div class="p-toolbar-group-right">
            <app-form-button-action
              (submit)="finish()"
              labelSubmitButton="Finalizar"
              [severitySubmitButton]="SeverityButtonActionEnum.ADD"
              [isVisibleCancelButton]="false"
            />
          </div>
        </p-toolbar>

        <p-divider/>

        <app-addendum
          [formInput]="form.value"
          (formOutput)="save($event)"
          (formErrorsOutput)="documentErrors=$event"/>

      </ng-template>
    </p-stepperPanel>
  </p-stepper>
}

<p-confirmDialog key="confirmDialog"/>
