<div class="grid">
    <div class="col-12">
        @if (coreService.isLoading) {
        <app-skeleton [type]="SkeletonEnum.CARD"></app-skeleton>
        }
        @if (!coreService.isLoading) {
            <p-toolbar>
                <div class="p-toolbar-group-left">
                    <app-header-form 
                        [id]="id" 
                        label="Datos de Comparecencias"
                        [icon]="PrimeIcons.PENCIL"/>
                </div>
    
                <div class="p-toolbar-group-right">
                    <app-form-button-action 
                        labelSubmitButton="Siguiente"
                        labelCancelButton="Atrás"
                        [iconSubmitButton]="PrimeIcons.ARROW_RIGHT"
                        [isVisibleCancelButton]="false"
                    />
                </div>
            </p-toolbar>
        <!-- app.component.html -->
        <h2>Mintur</h2>
        <p-table [value]="internalInstitution">
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Unit</th>
                    <th>Agreement ID</th>
                    <th>Person Type ID</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-institution>
                <tr>
                    <td>{{ institution.id }}</td>
                    <td>{{ institution.name }}</td>
                    <td>{{ institution.positionId }}</td>
                    <td>{{ institution.unit }}</td>
                    <td>{{ institution.agreementId }}</td>
                    <td>{{ institution.personTypeId }}</td>
                </tr>
            </ng-template>
        </p-table>

        <h2>Comparecencias</h2>
        <p-table [value]="externalInstitution">
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Unit</th>
                    <th>Agreement ID</th>
                    <th>Person Type ID</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-institution>
                <tr>
                    <td>{{ institution.id }}</td>
                    <td>{{ institution.name }}</td>
                    <td>{{ institution.position }}</td>
                    <td>{{ institution.unit }}</td>
                    <td>{{ institution.agreementId }}</td>
                    <td>{{ institution.personTypeId }}</td>
                </tr>
            </ng-template>
        </p-table>
        }
    </div>
</div>