<div class="grid">
    <div class="col-12">
        @if (coreService.isLoading) {
        <app-skeleton [type]="SkeletonEnum.CARD"></app-skeleton>
        }

        @if (!coreService.isLoading) {
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <app-header-form label="Datos de Comparecencias" [icon]="PrimeIcons.PENCIL" />
            </div>
        </p-toolbar>
        <!-- Mintur -->
        <h2>Ministerio</h2>
        <div style="height: 50px;"></div>
        <p-panel>
            <form class="p-fluid grid">
                <!-- Principio -->

                <p-table [value]="internalInstitution" styleClass="p-datatable-striped" [tableStyle]="{'width':'100%'}">
                    <ng-template pTemplate="header">
                        @for (col of internalInstitutionColumns; track col.field) {
                        <th [pSortableColumn]="col.field" style="border-right: 1px solid #ddd;">
                            {{ col.header }}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        }
                    </ng-template>
                    <ng-template pTemplate="body" let-institution>
                        <tr>
                            <td style="border-right: 1px solid #ddd; padding: '0.5rem'">{{ institution.name }}</td>
                            <td style="border-right: 1px solid #ddd; padding: '0.5rem'">{{ institution.unit }}</td>
                            <td style="border-right: 1px solid #ddd; padding: '0.5rem'">{{ institution.positionId }}</td>
                            <td style="border-right: 1px solid #ddd; padding: '0.5rem'">{{ institution.personTypeId }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </form>
        </p-panel>
        }
        <!-- Divisor -->
        <div style="height: 40px;"></div>
        <!-- Comparecencias -->

        <h2>Comparecencias</h2>
        <div style="height: 50px;"></div>

        <p-panel>
            <form class="p-fluid grid">
                <p-table [value]="externalInstitution" styleClass="p-datatable-striped" [tableStyle]="{'width':'100%'}">
                    <ng-template pTemplate="header">
                        @for (col of externalInstitutionsColumns; track col.field) {
                        <th [pSortableColumn]="col.field" style="border-right: 1px solid #ddd;">
                            {{ col.header }}
                            <p-sortIcon [field]="col.field"></p-sortIcon>

                        </th>
                        }
                    </ng-template>
                    <ng-template pTemplate="body" let-institution>
                        <tr>
                            <td style="border-right: 1px solid #ddd; padding: '0.5rem'">{{ institution.name }}</td>
                            <td style="border-right: 1px solid #ddd; padding: '0.5rem'">{{ institution.unit }}</td>
                            <td style="border-right: 1px solid #ddd; padding: '0.5rem'">{{ institution.position }}</td>
                            <td style="border-right: 1px solid #ddd; padding: '0.5rem'">{{ institution.personTypeId }}</td>
                        </tr>
                    </ng-template>
                </p-table>
                <!-- Fin -->

            </form>
        </p-panel>


    </div>
</div>
<div style="height: 90px;"></div>
